<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курорт Красная поляна</title>
    <link rel="stylesheet" href="./css/1.css?time={{time}}">
    <script>
        window.__KP_debug = true;
    </script>
    {{test_css}}
    {{test_js}}
</head> 