<div class="home-app js-home-app">
    <div class="home-app__image">
        <img class="home-app__bg" src="assets/img/app_bg.jpg" />
        <img class="home-app__hand js-hand" src="assets/img/app_hand.png" />  
    </div>
    <div class="home-app__text">
        <p>Официальное приложение</p>
        <p>Красная поляна</p>
        <p>Доступно в Apple App Store и Google Play</p>
        <div class="home-app__buttons">
            <a target="_blank" href="https://gorkygorod.ru/away?url=https://itunes.apple.com/ru/app/%D0%B3%D0%BE%D1%80%D0%BA%D0%B8-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4-gorky-gorod/id1445660875?mt=8">
                <img src="assets/img/app_ios.svg" />
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=ru.gorkygorod">
                <img src="assets/img/app_google.svg" />
            </a>
        </div>
    </div>

</div>