<h3 class="home-page__title">#Нашблог</h3>
<div class="home-blog home-activities__slider js-ajax-element scrollable--blog" data-url="https://gorkygorod.ru/api_kp?item=blog" data-scrollable="1">
</div>
<a href="/" class="home-page__link-isolated">Весь блог</a>