<div class="book-form__container">
    <div class="book-form js-kp-book-form">
        <div class="book-form__tab-header book-form__tab-header--active">
            <i class="kp-icon-book-form kp-icon-house"></i>      Проживание
        </div><div class="book-form__tab-header">
                <i class="kp-icon-book-form kp-icon-card"></i>Cки-пассы
        </div><a class="book-form__tab-header" href="https://shop.gorkygorod.ru/ski-school" target="_blank">
            <i class="kp-icon-book-form kp-icon-school"></i>Инструкторы</a><div class="book-form__tab-header">
                <i class="kp-icon-book-form kp-icon-bus"></i>Трансфер
        </div><div class="book-form__tab-header">
                <i class="kp-icon-book-form kp-icon-helmet"></i>Прокат
        </div>    
        <div class="book-form__tab-wrapper">
            <div class="book-form__tab book-form__tab--active">                   
                    <form action="/hotels" class="js-book-form" method="GET" data-origin="1">
                    <div class="book-form__items book-form__items--hotels">
                        <div class="book-form__item">
                            <input name="date" type="text" value="" class="js-url-param js-datepicker" placeholder="" data-caption="Заезд"  data-locale="ru" >
                        </div>        
                        <div class="book-form__item">
                            <input name="date_out" type="text" class="js-url-param js-datepicker" placeholder="" data-caption="Выезд" data-date="1"  data-locale="ru" >
                        </div>        
                        <div class="book-form__item">
                            <div class="js-guests guests" >
                                <div class="js-guests__group guests__group" >
                                    <label class="guests__caption  ">Гости</label>
                                    <input name="adults" type="range"  class="js-url-param" data-mode="1" data-caption="Гости" min="1" max="10" value="2" data-postfix="чел.">
                                </div>
                                <div class="js-guests__group guests__group">
                                    <label class="guests__caption guests__caption--placeholder js-caption">+ Добавить детей</label>
                                    <input name="children" type="range"  class="js-url-param" data-mode="2" data-placeholder=" 0" data-caption=" + Дети" min=" 0" max="10" value="0" data-postfix="чел.">
                                </div>
                            </div>
                        </div>  
                        <div class="book-form__item">
                            <button class="book-form__btn">Найти варианты</button>
                        </div>
                    </div>      
                    </form>                        
            </div>
            <div class="book-form__tab">
                tab 2
            </div>
            <div class="book-form__tab">
                tab 3
            </div>
            <div class="book-form__tab">
                tab 4
            </div>
            <div class="book-form__tab">
                tab 5
            </div>

            
        </div>
        
    </div>
</div>