<h3 class="home-page__title">События</h3>
<div class="home-events js-ajax-element scrollable--events-home" data-scrollable="1" data-url="https://gorkygorod.ru/api_kp?item=events-slider">
</div>
<a href="/" class="home-page__link-isolated">Все события</a>