<nav class="footer__menu">
<div class="footer__menu-col" >
<a href="/o_gorki_gorod/" class="footer__menu-header" >
Наш Курорт
</a>
<a href="/about/" title="О Горки Город" class="footer__menu-sublink">
О Горки Город
</a>
<a href="/how_to_get/" title="Как добраться" class="footer__menu-sublink">
Как добраться
</a>
<a href="/resort_map/" title="Карта курорта" class="footer__menu-sublink">
Карта курорта
</a>
<a href="/news/" title="Новости" class="footer__menu-sublink">
Новости
</a>
<a href="/app" title="Мобильное приложение" class="footer__menu-sublink">
Мобильное приложение
</a>
<a href="/contact" title="Контакты" class="footer__menu-sublink">
Контакты
</a>
<a href="/job/" title="Вакансии" class="footer__menu-sublink">
Вакансии
</a>


</div>
<div class="footer__menu-col" >
<a href="/nasha_gora/" class="footer__menu-header" >
Наши Горы
</a>
<a href="/slopes_new" title="Карта трасс / Ски-пассы" class="footer__menu-sublink">
Карта трасс / Ски-пассы
</a>
<a href="slopes_new?accordion=3" title="Канатная дорога" class="footer__menu-sublink">
Канатная дорога
</a>
<a href="/weather" title="Погода" class="footer__menu-sublink">
Погода
</a>
<a href="/webcams" title="Веб-камеры" class="footer__menu-sublink">
Веб-камеры
</a>
<a href="/safe" title="Безопасность" class="footer__menu-sublink">
Безопасность
</a>
<a href="/krasnaya_polyana" title="Красная Поляна" class="footer__menu-sublink">
Красная Поляна
</a>


</div>
<div class="footer__menu-col" >
<a href="/accommodation/" class="footer__menu-header" >
Бронирование
</a>
<a href="/hotels/" title="Забронировать отель" class="footer__menu-sublink">
Отели и апартаменты
</a>
<a href="/special_offers/" title="Все акции" class="footer__menu-sublink">
Все акции
</a>
<a href="/memo" title="Правила пребывания" class="footer__menu-sublink">
Правила пребывания
</a>
<a href="/konserzh_servis" title="Консьерж-сервис" class="footer__menu-sublink">
Консьерж-сервис
</a>

<a href="apartments_540/" title="Апартаменты Горки Город +540м" class="footer__menu-sublink">
Апартаменты Горки Город +540м
</a>
<a href="apartments_960/" title="Апартаменты Горки Город +960м" class="footer__menu-sublink">
Апартаменты Горки Город +960м
</a>
</div>


<div class="footer__menu-col" >
<a href="/eda_i_nochnaya_zhizn/" class="footer__menu-header" >
Еда и вечеринки
</a>
<a href="/gde_poest/" title="Где поесть" class="footer__menu-sublink">
Где поесть
</a>
<a href="/clubs/" title="Апре-ски" class="footer__menu-sublink">
Апре-ски
</a>
<a href="/room_service_r_i_b" title="Доставка в номер" class="footer__menu-sublink">
Доставка в номер
</a>
<a href="/karaoke" title="Караоке" class="footer__menu-sublink">
Караоке
</a>


</div>
<div class="footer__menu-col" >
<a href="https://gorkygorod.ru/shopping/" class="footer__menu-header" >
ТРЦ Горки Молл
</a>
<a href="/shopping/" title="Шопинг" class="footer__menu-sublink">
Шопинг
</a>


</div>


 
<div class="footer__menu-col" >
<a href="/summer/" class="footer__menu-header" >
Лето
</a>
<a href="/panoramnaya_ploshhadka_360" title="Панорамная площадка 360" class="footer__menu-sublink">
Панорамная площадка 360
</a>
<a href="/beach" title="Морской пляж" class="footer__menu-sublink">
Морской пляж
</a>
<a href="/gorky_bike_park" title="Горки Байк Парк" class="footer__menu-sublink">
Горки Байк Парк
</a>
<a href="/ecotrail" title="Экомаршруты" class="footer__menu-sublink">
Экомаршруты
</a>
<a href="/instructors" title="Инструкторы и гиды" class="footer__menu-sublink">
Инструкторы и гиды
</a>
<a href="/verevochnyij_park_priklyuchenij" title="Верёвочный парк" class="footer__menu-sublink">
Верёвочный парк
</a>
<a href="/bikerent" title="Прокат" class="footer__menu-sublink">
Прокат
</a>
<a href="/konnyie_progulki" title="Конные прогулки" class="footer__menu-sublink">
Конные прогулки
</a>
<a href="/atv" title="Квадроциклы" class="footer__menu-sublink">
Квадроциклы
</a>
<a href="/elektrovelosipedyi" title="Электровелосипеды" class="footer__menu-sublink">
Электровелосипеды
</a>
<a href="/camping" title="Палаточный лагерь" class="footer__menu-sublink">
Палаточный лагерь
</a>
<a href="/letnij_tyubing" title="Летний тюбинг" class="footer__menu-sublink">
Летний тюбинг
</a>


</div>
<div class="footer__menu-col" >
<a href="/chem_zanyatsya/" class="footer__menu-header" >
Круглый год
</a>
<a href="/otdyix_s_detmi/" title="Отдых с детьми" class="footer__menu-sublink">
Отдых с детьми
</a>
<a href="/spa_and_fitness/" title="Красота и здоровье" class="footer__menu-sublink">
Красота и здоровье
</a>
<a href="/casino_sochi" title="Казино Сочи" class="footer__menu-sublink">
Казино Сочи
</a>
<a href="/ziplajn_gorky_fly" title="Мегазиплайн Gorky Fly" class="footer__menu-sublink">
Мегазиплайн Gorky Fly
</a>
<a href="/aeromaniya" title="Полёты на параплане" class="footer__menu-sublink">
Полёты на параплане
</a>
<a href="/xaski_czentr" title="Хаски-центр" class="footer__menu-sublink">
Хаски-центр
</a>
<a href="/legolas" title="Лучный тир" class="footer__menu-sublink">
Лучный тир
</a>
<a href="/kinoteatr_starsinema" title="Кинотеатр" class="footer__menu-sublink">
Кинотеатр
</a>
<a href="/podvesnoj_most" title="Подвесной мост" class="footer__menu-sublink">
Подвесной мост
</a>
<a href="/bowling" title="Боулинг" class="footer__menu-sublink">
Боулинг
</a>
<a href="/workout_v_gorax" title="Workout в горах" class="footer__menu-sublink">
Workout в горах
</a>
<a href="/aquapark" title="Аквапарк" class="footer__menu-sublink">
Аквапарк
</a>


</div>
<div class="footer__menu-col" >
<a href="/winter/" class="footer__menu-header" >
Зима
</a>
<a href="/night_skiing" title="Вечернее катание" class="footer__menu-sublink">
Вечернее катание
</a>
<a href="/gornolyizhnyie_shkolyi" title="Горнолыжные школы" class="footer__menu-sublink">
Горнолыжные школы
</a>
<a href="/ski_rent" title="Прокат" class="footer__menu-sublink">
Прокат
</a>
<a href="/winter_servises" title="Ски-сервисы" class="footer__menu-sublink">
Ски-сервисы
</a>
<a href="/skitour/" title="Скитур" class="footer__menu-sublink">
Скитур
</a>
<a href="/tyubing" title="Тюбинг" class="footer__menu-sublink">
Тюбинг
</a>
<a href="/lekczii" title="Лекции" class="footer__menu-sublink">
Лекции
</a>
<a href="/adaptivnyij_turizm" title="Адаптивный туризм" class="footer__menu-sublink">
Адаптивный туризм
</a>


</div>
<div class="footer__menu-col" >
<a href="//affiche/" class="footer__menu-header" >
Советы гостям
</a>
<a href="/nepogoda" title="Непогода" class="footer__menu-sublink">
Непогода
</a>
<a href="/besplatnaya_ekskursiya" title="Бесплатная экскурсия" class="footer__menu-sublink">
Бесплатная экскурсия
</a>
<a href="/progulka_v_gorax" title="Прогулка в горах +2200 м" class="footer__menu-sublink">
Прогулка в горах +2200 м
</a>


</div>



<a href="https://gorkygorod.ru/affiche/" title="Афиша" class="footer__menu-link">
Афиша
</a>
<div class="footer__menu-col" >
<a href="https://shop.gorkygorod.ru/" class="footer__menu-header" >
Купить онлайн
</a>

<!--a href="/transfer/" class="no-rel level2" >
Трансфер
</a-->
<a href="https://shop.gorkygorod.ru/tickets" title="Трансфер на пляж" class="footer__menu-sublink">
Трансфер на пляж
</a>




<!--a href="" class="no-rel level2" >
Отели
</a-->
<a href="https://gorkygorod.ru/hotels/" title="Отели и апартаменты" class="footer__menu-sublink">
Отели и апартаменты
</a>
<a href="https://gorkygorod.ru/special_offers/" title="Спецпредложения" class="footer__menu-sublink">
Спецпредложения
</a>




<!--a href="/progulochnyie_biletyi/" class="no-rel level2" >
Прогулочные билеты
</a-->
<a href="https://shop.gorkygorod.ru/gorky_excursions" title="Водопад Поликаря" class="footer__menu-sublink">
Водопад Поликаря
</a>
<a href="https://shop.gorkygorod.ru/gorky_excursions" title="Горки Тур" class="footer__menu-sublink">
Горки Тур
</a>
<a href="https://shop.gorkygorod.ru/gorky_excursions" title="Веревочный парк приключений" class="footer__menu-sublink">
Веревочный парк приключений
</a>
<a href="https://shop.gorkygorod.ru/gorky_excursions" title="День в горах" class="footer__menu-sublink">
День в горах
</a>
<a href="https://shop.gorkygorod.ru/gorky_excursions" title="Сезонный &quot;лето в горах&quot;" class="footer__menu-sublink">
Сезонный "лето в горах"
</a>




<!--a href="/gorki_bajk_park_passyi/" class="no-rel level2" >
Горки Байк Парк
</a-->
<a href="https://shop.gorkygorod.ru/bike-pass" title="Байк-пасс" class="footer__menu-sublink">
Байк-пасс
</a>
<a href="https://shop.gorkygorod.ru/bike-pass" title="Сезонный байк-пасс" class="footer__menu-sublink">
Сезонный байк-пасс
</a>




<!--a href="/ski_passyi/" class="no-rel level2" >
Зима 2019/2020
</a-->
<a href="https://shop.gorkygorod.ru/season-skipass" title="Сезонные ски-пассы со скидкой 30%" class="footer__menu-sublink">
Сезонные ски-пассы со скидкой 30%
</a>
<a href="https://shop.gorkygorod.ru/ski_school" title="Занятие с инструктором со скидкой 20%" class="footer__menu-sublink">
Занятие с инструктором со скидкой 20%
</a>





</div>
<div class="footer__menu-col" >
<a href="/business/" class="footer__menu-header" >
Для бизнеса
</a>

<!--a href="/agentstvam/" class="no-rel level2" >
Агентствам
</a-->
<a href="http://b2b.gorkygorod.ru/search_hotel?" title="Туристическим компаниям" class="footer__menu-sublink">
Туристическим компаниям
</a>




<!--a href="/reklamodatelyam/" class="no-rel level2" >
Рекламодателям
</a-->
<a href="/reklama_na_kurorte" title="Реклама на курорте" class="footer__menu-sublink">
Реклама на курорте
</a>




<!--a href="/uslugi_i_zakupki/" class="no-rel level2" >
Услуги и закупки
</a-->
<a href="http://tender.gorkygorod.ru/" title="Закупки" class="footer__menu-sublink">
Закупки
</a>
<a href="/uslugi_elektrotexnicheskoj_laboratorii" title="Услуги электротехнической лаборатории" class="footer__menu-sublink">
Услуги электротехнической лаборатории
</a>
<a href="/promyishlennaya_bezopasnost" title="Промышленная безопасность" class="footer__menu-sublink">
Промышленная безопасность
</a>
</div>


<div class="footer__menu-col" >
<a href="/vashe_sobyitie_v_gorax/" class="footer__menu-header" >
Ваше событие в горах
</a>
<a href="/conference_halls/" title="MICE &amp; EVENT в горах" class="footer__menu-sublink">
MICE & EVENT в горах
</a>
<a href="/programma_corporate_partners" title="Программа Corporate partners" class="footer__menu-sublink">
Программа Corporate partners
</a>
<a href="/wedding/" title="Свадьба в горах" class="footer__menu-sublink">
Свадьба в горах
</a>
</div>

</nav>