
<div class="footer__top">
        <div class="footer__container footer__container--flex">
            <div class="footer__address">
                <p>
                    Адрес курорта:<br />
                    г.Сочи, Адлерский р-н, пос. Эсто-садок, ул. Горная карусель, 5
                </p>
                <p>
                    GlobalSalesOffice:<br />
                    г. Москва, Пресненская наб. 6, стр 2, башня Империя, 47 этаж, офис 4729
                </p>
            </div>
            <div class="footer__logo">
                <a href="/">
                    <img src="{{logo}}" alt="">
                </a>
                <a href="tel:{{phone}}" class="footer__phone">{{phone}}</a>
                <a href="mailto:{{email}}" class="footer__email">{{email}}</a>
            </div>
            <div class="footer__icons">
                  <div class="footer__app">
                      <a href="{{google_play}}" class="kp-icon-store kp-icon-android"></a>
                      <a href="{{appstore}}" class="kp-icon-store kp-icon-apple"></a>
                      <p>Наше приложение в AppStore и Google Play</p>
                    </div>
                    <p class="footer__social">
                          <a target="_blank" class="kp-icon-social kp-icon-facebook" href="https://www.facebook.com/gorkygorodresort/"></a>
                          <a target="_blank" class="kp-icon-social kp-icon-vk"       href="https://vk.com/gorky_gorod"></a>
                          <a target="_blank" class="kp-icon-social kp-icon-insta"    href="https://www.youtube.com/user/gorkygorodresort"></a>
                          <a target="_blank" class="kp-icon-social kp-icon-youtube"  href="https://www.instagram.com/gorky.gorod/"></a>
                    </p>
            </div>
        </div>
        <div class="footer__container">
            <div class="footer__feedback">
                
                <a class="footer__feedback-btn" href="/feedback">Обратная связь</a>
            </div>
             
                    {{menu}}
             
        </div>

    </div>
    <div class="footer__bottom">
        <div class="footer__container footer__container--flex2">
            <div class="footer__bottom-col">
                <p>
                    &copy;2019 - НАО "Красная поляна" - официальный сайт курорта "Красная Поляна"
                </p>
            </div>
            <div class="footer__bottom-col">
                <p>
                    Указанные на сайте цены не являются публичной офертой (ст.435 ГК РФ).
                        
                </p>
                <p>
                    Стоимость и возможность предоставления услуг необходимо уточнять в кассах   
                </p>
            </div>
            <div class="footer__bottom-col">
                <a href="/policy">
                    Политика конфиденциальности
                </a>
            </div>
        </div>
    </div>
</footer>