<h1 class="home-page__title">Акции и спецпредложения</h1>
<div class="home-offers">
    <div class="home-offers__item js-ajax-element" data-url="https://gorkygorod.ru/api_kp?item=offer_of_the_day"></div>
    <div class="home-offers__item js-ajax-element scrollable--hotels"   data-scrollable="1" data-indicator="1" data-timer="7000" data-url="https://gorkygorod.ru/api_kp?item=hotels"></div>
    <div class="home-offers__item js-ajax-element scrollable--mountain" data-scrollable="1" data-indicator="1" data-timer="6800" data-url="https://gorkygorod.ru/api_kp?item=mountain"></div>
    <div class="home-offers__item js-ajax-element scrollable--events"   data-scrollable="1" data-indicator="1" data-timer="7200" data-url="https://gorkygorod.ru/api_kp?item=events"></div>
</div>