<div class="kp-popup js-popup">
    <div class="kp-popup__balloon">
            <img class="kp-popup__image" src="media/logo_footer_ru.svg" alt="">
            <div class="kp-popup__separator"></div>
            <div class="kp-popup__text">
                <h5>Красная Поляна - это мы!</h5>
                <p>
                     Бывший курорт «Горки Город‎»‎. Специально для вас мы стали лучше, изменили внешний и повысили уровень сервиса. Также стали более крлиентоориентированными и создали программу лояльности.
                </p>
            </div>
    </div>
</div>