<form class="home-subscribe js-kp-subscribe-form" method="POST" action="https://gorkygorod.ru/api_kp?item=subscribe">
    <p class="home-subscribe__slogan">Будь в курсе<span>Подпишитесь на наши новости!</span></p>
    <input class="home-subscribe__input" type="text" placeholder="Ваша электронная почта" name="email"/>
    <input class="home-subscribe__default" type="text"placeholder="Ваша организация" name="your_name"/>
    <input type="hidden" name="topic" value="subscribe" />
    <button type="submit" class="home-subscribe__button">Подписаться</button>

</form>