<div class="home-activities">
    <div class="home-activities__image home-activities__image--summer" ></div>
    <a href="/" class="home-activities__title">Чем заняться летом в горах?</a>
    <a href="/" class="home-activities__more">Узнать больше</a>
    <div class="home-activities__slider scrollable js-ajax-element" data-scrollable="1" data-url="https://gorkygorod.ru/api_kp?item=activities-summer">
    </div>
</div>