<div
  class="home__video"
  data-vide-bg="assets/video/summer"
  data-vide-options="posterType: jpg, loop: true, autoplay:true, muted: true, position: 50% 50%"  
>
<div class="home__overlay"></div>
</div>
<div class="home__title-container" >
  <h3 class="home__title-header">
    <a href="/promo">
          Акция
    </a>
  </h3>
  <h1 class="home__title">
      <a href="/promo">
            Яркие каникулы<br />в Красной Поляне
      </a>
  </h1>
  <a class="home__title-link" href="/promo">
    Подробнее
  </a>

  <div class="home-panel  js-kp-home-panel"  >
        <a class="js-ctrl home-panel__hide">
            Свернуть
        </a>
        <a href="/map" class="home-panel__link">
            <i class="kp-icon-panel kp-icon-map"></i><span>Как добраться</span>     
        </a>
        <a href="/map" class="home-panel__link">
            <i class="kp-icon-panel kp-icon-webcam"></i><span>Веб-камеры</span>
        </a>
        <a href="/map" class="home-panel__link">
            <i class="kp-icon-panel kp-icon-elevator"></i><span>Карта трасс</span>
        </a>
        <div class="home-panel__weather">
            <a href="/weather" class="home-panel__weather-item">
                пн
                <img src="assets/img/weather.png" alt="">
                <span class="home-panel__weather-temp">
                    -25&deg;
                </span>
            </a>
            <a href="/weather" class="home-panel__weather-item">
                пн
                <img src="assets/img/weather.png" alt="">
                <span class="home-panel__weather-temp">
                    -25&deg;
                </span>
            </a>
            <a href="/weather" class="home-panel__weather-item">
                пн
                <img src="assets/img/weather.png" alt="">
                <span class="home-panel__weather-temp">
                    -25&deg;
                </span>
            </a>


        </div>

  </div>
  </div>

  