<div class="home-activities home-activities--auto">
    <div class="home-activities__image home-activities__image--winter"></div>
    <a href="/" class="home-activities__block" >
        <div  class="home-activities__block-bg" style="background-image:url('assets/img/winter2.jpg')"></div>

        <h5 class="home-activities__block-title">Что будет зимой?</h5>
        <p class="home-activities__block-text">2019 - 2020</p>
        <p class="home-activities__block-more">Узнать больше</p>
    </a>
</div>