/* external 
@import 'chunks/_reset.scss';
@import 'chunks/flexboxgrid.css';
@import 'chunks/_init.scss';
@import 'chunks/_themes.scss';
@import 'chunks/_menu.scss';
@import 'chunks/_header.scss';
@import 'chunks/_footer.scss';
@import 'chunks/_tables.scss';
@import 'chunks/_tile.scss';
@import 'chunks/_gallery-basic.scss';
@import 'chunks/_news.scss';
@import 'chunks/_tabs.scss';
@import 'chunks/_dropdown.scss';
@import 'chunks/_booking-form.scss';
@import 'chunks/_datepicker.scss';
@import 'chunks/_pickmeup.scss';
@import 'chunks/_accordion.scss';
@import 'chunks/_gallery-thumbs.scss';
//@import '_icons.scss';
@import 'chunks/_mega-filter.scss';
@import 'chunks/_events.scss';
@import 'chunks/_scrollable.scss';
@import 'chunks/_page.scss';
//@import '_maps.scss';
@import 'chunks/_shops-grid.scss';
@import 'chunks/_offer.scss';
@import 'chunks/_offer-container.scss';
@import 'chunks/_weather.scss';
@import 'chunks/_slopes.scss';
@import 'chunks/_panel.scss';
@import 'chunks/_modal.scss';
@import 'chunks/_qlinks.scss';
@import 'chunks/_home.scss';
@import 'chunks/_search.scss';
@import 'chunks/_webcams.scss';
@import 'chunks/_guests.scss';
@import 'chunks/_404.scss';
@import 'chunks/_resource-gallery.scss';


//@import '_widgets.scss';

/* fonts 
 
@font-face {
    font-family: Circle;
    src: url('fonts/Circle-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Circle;
    src: url('fonts/Circle-Regular.otf');
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
    font-weight:normal;
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Light.ttf');
    font-weight:light;
}

.font-circle {
	font-family: Circle, Sans-serif;
}
.font-circle-bold {
	font-family: Circle, Sans-serif;
}


.font-robo, .font-roboto {
	font-family: Roboto, Sans-serif;	

}


/* fonts END */



/*layout */

body {
	background: $bg-grey; 
	color: $dark-grey;
	font-family: Circle-Regular, Roboto-Regular, Verdana, Sans-serif;
	
	overflow-x:hidden;
	min-height:100vh;

	
}
html {
	overflow-x:hidden;	
	font-size:16px;
	@media (min-width:$xs) and (max-width: $sm) {
		font-size:14px;
	}
	@media (min-width:$sm) and (max-width: $md) {
		font-size:14px;
	}

}
.body-content {
	min-height:400px;
}
.bg-header {
	position: absolute;
	top:0;
	left:0;
	width: 100vw;
	height:410px;
	display: block;
	z-index: -1;
	@media (max-width:767px) {
		height:300px;
	}
}

.ie-splash {
	z-index:99999;
	background:rgba(255,255,255,.99);
	position:fixed;
	color: #333;
	height:100vh;
	width:100vw;
	top:0;
	left:0;
	& > div {
		text-align:center;
		height:100%;
		padding-top:25%;
		margin:0 auto;
		max-width:800px;
		line-height:1.75rem;
	}
}

.bg-theme-header {
	@extend .bg-header;
	z-index:-1;
	flex-direction: column;
	background-size:cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	&:after {
			posistion:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display:block;
			content:'';
	
		}
	&--winter {
		background-color: rgba(35,49,73,.8); //233149
		&:after {
			background-color: rgba(35,49,73,.8); //233149
		}
	}	
	&--summer {
		background-color:rgba(0,0,0,.7);
		&:after {
			background-color:rgba(0,0,0,.6);
		}
	}

	
	@media (max-width:991px) {
		height:360px;
	}

	@media (max-width:767px) {
		height:260px;
		//height:300px;
	}

}

.bg-white-header {
	@extend .bg-header;
	background: $white;

	&--extended {
		@media (min-width:768px) {

			height:500px;
		}
	}
}

.bg-white {
	background: $white;	
}
.info-col {
	@media (min-width:768px) {
		overflow-x:hidden;
		overflow-y:hidden;
	}
	position:relative;
	/* .chasing {
		position: relative;			
	} */
}

@media (max-width: $xxs) {
	html, body {
		font-size:12px;
	}
}

.hidden {
	display:none !important;
}

section {
	margin:2rem auto;
}

.page-title, .pagetitle {
	font-size:2rem;
}


/*layout  END*/









/* responisivness */
ul.list-inline > li{
	display:inline-block;
}
.img-responsive {
	width:100%;
}

.clear, .clearfix {
	clear:both;
	&:after { 
	   content: "."; 
	   visibility: hidden; 
	   display: block; 
	   height: 0; 
	   clear: both;
	}
}

.text-right {
	text-align:right !important;
}
.text-left {
	text-align:left !important;
}
.text-center {
	text-align:center ;
}




/* #content */

.content {
		background: $white;
		@include box-shadow(0px -0px 10px 0px #CCC, "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')" );
		margin-bottom:2rem;
		@extend .font-circle ;

}

.c-padding, .padding {
	padding: 2rem;
	@media (max-width:$sm) {
		padding: 1rem;
	}
}
.margin-v-05{
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}
.margin-v-2{
	margin-top:2rem;
	margin-bottom:2rem;
}
.padding-h {
	padding-left: 2rem;
	padding-right: 2rem;

	@media (max-width:$sm) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
.padding-v {
	padding-top: 2rem;
	padding-bottom: 2rem;
	@media (max-width:$sm) {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.loading img {
	max-width: 64px;
	height:auto;
}
.box-shadow {
		@include box-shadow( 0 0 10px rgba(0,0,0,0.15) , "filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=#000000, strength=10)");
	}



.padding2rem {
	padding: 2rem;
}

.height8rem {
	height: 8rem;
	display: block;
}
.height4rem {
	height: 4rem;
	display: block;
}
.height2rem {
	height: 2rem;
	display: block;
}


.spacer2-4 {
	height: 4rem;
	@media (max-width:991px) {
		height: 2rem;
	}
}
.spacer0-4 {
	height: 4rem;
	@media (max-width:767px) {
		display:none;
	}
}
.spacer1-2 {
	height: 2rem;
	@media (max-width:991px) {
		height: 1rem;
	}
}

a.white, a.white:hover, a.white:visited, a.white:link, a.white:active { 
		color:$white;
}

.decoration_none {
	text-decoration:none;
}

.hover_underline {
	text-decoration:none;	
}
.hover_underline:hover {
	text-decoration:underline !important;
}
.bold {
	font-weight:bold;
}
.lowercase {
	text-transform:lowercase;
}
.first-letter-caps {
	&:first-letter {
		text-transform:capitalize;
	}
}
.shadow {
	@include box-shadow(0 0 10px rgba(0,0,0,0.3),"")
}
h1 {
//	font-size: 2rem;
	@extend .bold;
}

h2 {
//	font-size: 1.85rem;
}

h3 {
//	font-size: 1.7rem;
}
p {
//	margin-top:1rem;
	
}


.text-mid-grey {
	color: $mid-grey;
}

.stars-rating {
	color: $yellow;
}

@each $index in 0.5, 0.75, 0.8, 0.85, 0.9, 1, 1.15, 1.25, 1.5, 1.75, 2{
  .font-size-#{$index*100} {
     font-size: #{$index}rem;
  }
}
@each $index in 0.25, 0.5, 1, 1.5, 2{
  .text-margin-#{$index*100} {
     margin-top:#{$index}rem;
     margin-bottom:#{$index}rem;
     line-height:calc(100% * #{$index+1});
  }
}

strong {
	font-weight:bold;
}
.uppercase {
	text-transform:uppercase;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 0.5s ease;
	

	&:hover {
	   -webkit-filter: grayscale(0%);
	   -moz-filter: grayscale(0%);
	   filter: grayscale(0%);
	 }
}
/* content  END*/


/* #forms*/
.form-group {
	position:relative;
}
.input__icon {
	position:absolute;
	left:0;
	top:0;
	background:none;
	border:none;
	outline:none;
	@extend .pointer;
}
.input-icon-left {
	padding-left: 2rem;
}
.btn {
	@extend .pointer, .font-circle;
 	padding: 1rem;
 	display: inline-block;
	text-align: center;
 	text-decoration:none;
 	font-size:1rem;
 	font-weight:bold;
 	border:none;
 	

 	&:active, &:focus {
 		outline:none;
 	}
 }
 .btn-full {
	display: block;
	box-sizing:border-box;
	width:100%;
	@media (max-width:767px) {
		margin-left:1rem;
		margin-top:1rem;
		margin-right:1rem;
		
		width:auto;
	}
 }
 .btn-white {
 	background:white;
 	display:block;
 	text-align:center;
 	padding:1rem;
 	font-size:1.15rem;
 	@extend .font-circle;
 	font-weight:bold;
 	text-decoration:none;
 	
 	* {
 		vertical-align:middle;

 	}

 	&__icon {
 		height: 2rem;
 		width:2rem;
 		//background-size:
 	}

 	&--winter {
 		color:#44c8f5;
 	}
 	&--summer {
 		color:#32a846;
 	}
 }
 .btn-full2 {
	display: block;
	box-sizing:border-box;
	width:100%;
	@media (max-width:767px) {
		
		margin-top:1rem;
		
	}
 }

 .btn-filter {
 	font-size: 0.9rem;
 	font-weight:bold;
 	margin-top:0.15rem;
	margin-bottom:0.15rem;
	.qty {
		margin-left:0.8rem;
	}

 }

 .btn-icon {
	padding-left:40px;
 }

.btn-margin {
	margin:0.5rem;
}
.btn-margin-v {
	margin-top:0.5rem;	
	margin-bottom:0.5rem;
	}
.scroll-top {
	position:relative;
	margin-top:1rem;
	&:before {
		@extend .fa;
		content:'\f106';
		position: relative;
		right:20px;

	}
}

.form-group {
	margin:1rem auto;
	position:relative;
}

label.error {
		color:red;
	}
input.file {
	background:#DDD;
	outline:none;

	color:black;
	font-size:bold;
	padding:1rem 2rem;
	
}



textarea.textarea {
	&:focus {
		max-height:100rem;	
		transition:0.5s;
	}
	border-bottom-color:#000;
	box-sizing : border-box;
	background:none;
	font-size: 1rem;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	//border-color: $black;
	width:100%;
	position:relative;
	outline-color: none;
	outline-style: none;
	outline-width:0;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #666;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #666;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #666;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #666;
	}
	padding-bottom: 5px;
	
	max-height:1rem;
	transition:0.5s;
}
input.plain, .input-plain {
 	box-sizing : border-box;
	background:none;
	font-size: 1rem;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	//border-color: $black;
	width:100%;
	position:relative;
	outline-color: none;
	outline-style: none;
	outline-width:0;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #666;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #666;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #666;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #666;
	}
	padding-bottom: 5px;
	
}

select.plain, .select-plain {
 	box-sizing : border-box;
	background:none;
	font-size: 1rem;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	//border-color: $black;
	width:100%;
	position:relative;
	outline-color: none;
	outline-style: none;
	outline-width:0;
	
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #666;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #666;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #666;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #666;
	}
	padding-bottom: 5px;
	
}

.textarea {
	height: 1rem;
	@include transition(0.5s);
	&:focus {
		height:8rem;
		@include transition(0.5s);
	}
	
}

.radio {
	margin-right: 1.5rem;
	position:relative;
	cursor:pointer;
	opacity:1;
	width:0;
	height:0;



	&:after {
		content: '';
		position:absolute;
		display:block;
		width:0.75rem;
		top:-0.8rem;
		height:0.75rem;
		left:-0.125rem;

		background:$white;
		border-radius: 0;
		@include transition(0.5s);
	}
	&--winter {
		color: #00a0dc;
		&:after {
			border: 2px solid $brand-blue-mid;
		}

		&:hover {
			&:after {
				background:$winter-btn-hover !important;
				border-color:$winter-btn-hover;
				@include transition(0.5s);
			}
		}
	}
	&--summer {
		color: #56cc56;
		&:after {
			border: 2px solid currentColor;
		}

		&:hover {
			&:after {
				background:#56cc56 !important;
				border-color:#56cc56;
				@include transition(0.5s);
			}
		}
	}
	&:checked {
		&.radio--winter {
			&:after {
				background:$brand-blue-mid;
			}
		}
		&.radio--summer {
			&:after {
				background:currentColor;
			}
		}
	}


}

@media (max-width:$xs) {
	.form-mobile {
		label {
			display:block;
		}
	}
}


/*forms END*/




/* accordion */
/* .accordion {
	position: relative;
}
.btn.btn-close {
		position:absolute;
		top:0px;
		right:0;
		width:60px;
		height:50px;	
		
		a:before, a:after {
		  position: absolute;
		  left: 50%;
		  top:10px;
		  right: 50%;
		  content: ' ';
		  height: 23px;
		  width: 2px;
		  background-color: #333;
		}
		a:before {
		  @include transform( rotate(45deg));
		}
		a:after {
		 @include  transform(rotate(-45deg));
		}


	}
 */
/* .accordion {
	&:not(.opened) > .accordion-closer {
		content:"";
		position: absolute;
		right:0;
		top:0;
		left:auto;



	}

} */
/* accordion END*/







/*common */
.fa {
	font-family: 'FontAwesome';
}
.blur {
	@include blur(10px);
}
.pointer {
	cursor:pointer;
}
.text-right {
	text-align:right;
}

.no-bullets {
	&>li {
		list-style-type: none;
		&:before {
			content:'' !important;	
		}
		

	}
}

ul.list-inline > li{
	display:inline-block;
}

ul.list-dispersed > li, li.list-dispersed {
	margin-bottom:1rem;
}

.text-small {
	font-size: 0.75rem;
}

@each $index in 1,2,3,4,5,6,7,8,9,10 {
  .font-#{$index}x {
    font-size: #{$index}rem;
  }
}

.width-full {
	width:100%;
}

 .position-relative, .relative {
 	position: relative;
 }
 .position-absolute, .absolute {
 	position: absolute;
 }
 .position-fixed, .fixed {
 	position: fixed;
 }
.flex-center {
	@include flex(center,center);
}
.flex-vertical-center {
	@include flex(flex-start,center);	
}
.flex-wrap {
	flex-wrap:wrap;
}
 //visibilty 
 @media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}


.no-gutter {
	padding-left:0;
	padding-right:0;
	margin-right:0;
    margin-left: 0;
}

/*  @media screen and(max-width:767px) {
	.hidden-sm-down {
		display: none;
	}
 }
 @media screen and(min-width:768px) {
	.hidden-sm-up {
		display: none;
	}
 } */

/*elemens */
.tooltip {
	position:relative;

	&-right {
		.tooltip__text { 
			left:auto;
			right:0; 
		}
	}
	&__text {
		position:absolute;
		top:-2rem;
		display:none;
		overflow-y: hidden;
		z-index: 5;
		max-width:300px;
		white-space: nowrap;
	}

	&:hover, &--hover {
		.tooltip__text {
			@include transition(0.5s);
			display: block;
		}
	}

	&-hotel {
		.tooltip__text {
			background: $mid-grey;
			padding:1rem;
			color:$black;
			font-size:0.8rem;
			top:-4rem;

		}
	}
}

.close-switch {
	position: absolute;
	left:auto;
	right: 2rem;
	top: 2rem;
	font-size:2rem;
	width:2rem;
	height:2rem;
	cursor: pointer;
	&:after {
		content: '\2715';
		color: $mid-grey;
	}

}
*/
/*elemens END*/
