html,body {
    position: relative;
    z-index:-1;
    background-color:#DDD;    
    
}

.lorem {
    width:100%;
    max-width: 1200px;
    padding:20px;
    color:#484951;
    background:white;
    font-family:'Panton, Sans-serif';
    line-height: 36px;
    font-size:24px;
    margin:0 auto;
    box-sizing: border-box;
}

@media screen and (max-width:959px) {
    .lorem {
        font-size:16px;
        line-height: 24px;
        padding: 5px;
    }
}
