.book-form {
    @media screen and (min-width:960px) {
        
        &__container {
            margin:20px auto;
            max-width: 1040px;
            width:100%;
        }

        &__tab-header {
            text-decoration: none;
            background-color:#e8e8e8;
            cursor:pointer;
            position:relative;
            top:8px;
            display:inline-block;
            transition:top 0.4s;
            box-sizing: border-box;
            border-radius:4px 4px 0 0 ;
            margin-right:2px;
            color:$kp-text-dark-grey;
            font-weight: $regular;
            font-size: 16px;
            padding:16px 32px 16px 52px;
            &--active {
                top:0;
                transition:top 0.4s;
                background-color: #FFF;
            }            
            a {
                color:inherit;
                text-decoration: none;
            }
        }
        &__tab-wrapper {
            border-radius:0 4px 4px 4px;
            padding:36px 64px;
            background-color: #FFF;
            position:relative;
            z-index:1;
        }

        &__tab {
            display:none;
            &--active {
                display:block;
            }
        }

        &__items {
            
            &--hotels {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

            }
        }
        &__item {
            width:25%;
        }

        &__btn {
            font-family: 'Panton';
            outline: none;
            border:none;
            background-color:$kp-teal;
            transition:0.5s;
            text-transform: uppercase;
            color:#FFF;
            font-size: 16px;
            font-weight:$regular;
            padding:12px 24px;
            cursor:pointer;
            border-radius:4px;
            display: block;
            width:100%;
            &:hover {
                background-color:darken($kp-teal, 20%);
                transition:0.5s;
            }
        }

    }
    @media screen and (max-width:959px) {
        & {
            flex-direction: column;
            display: flex;
            margin-bottom: 4px;
        }

        &__container {
            padding-left:12px;
            padding-right:12px;
            display: block;
        }

        &__tab-header {

            order:99;
            background-color:#FFF;
            position:relative;
            display:block;
            transition:0.4s;
            box-sizing: border-box;
            border-radius:4px;
            margin-top:4px;
            margin-bottom:4px;
            color:$kp-text-dark-grey;
            font-weight: $regular;
            font-size: 16px;
            padding:12px 12px 12px 12px;
            text-decoration: none;  
            a {
                color:inherit;
                text-decoration: none;
            }

            &--active {
                transition: 0.5s;
                order:0;
                border-radius: 4px 4px 0 0;
                margin-bottom:0;
                &:after {
                    display: block;
                    position: absolute;
                    top:12px;
                    left:auto;
                    right:12px;
                    content:'✕';
                }

            }
        }
        &__tab-wrapper {
            order:1;
            border-radius:0 4px 4px 4px;
            padding:12px;
            background-color: #FFF;
            position:relative;
            z-index:1;
            margin-bottom:4px;
            max-height:10000px;
            transition: 0.5s;
            overflow-y:hidden;
            &--collapsed {
                padding:0 12px;
                transition: 0.5s;
                max-height: 0;
            }
        }

        &__tab {
            display:none;
            &--active {
                display:block;
            }
        }

        &__items {
            
            &--hotels {
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content: space-between;
                align-items: center;

            }
        }

        &__item {
            width:50%;
            margin-top:9px;
            margin-bottom:9px;
            &:last-of-type {
                width:100%;
            }
        }

        &__btn {
            outline: none;
            border:none;
            background-color:$kp-teal;
            transition:0.5s;
            text-transform: uppercase;
            color:#FFF;
            font-size: 16px;
            font-weight:$regular;
            padding:12px 24px;
            cursor:pointer;
            border-radius:4px;
            display: block;
            width:100%;
            &:hover {
                background-color:darken($kp-teal, 20%);
                transition:0.5s;
            }
        }

    }
}