.datepicker {
    @media screen and (min-width:960px) {
        position:relative;
        &__caption {
            position:relative;
            color:$kp-text-dark-grey;
            text-align:left;
            cursor:pointer;
            font-size: 16px;
            line-height: 24px;
            vertical-align: top;
            font-weight: $semi-bold;
            &:after {			
                position:relative;
                top:0;
                right: -16px;
                content: '';
                transition: 0.5s;
                display: inline-block;
                width:10px;
                height:10px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="rgb(1,186,198)"/></svg>');
            }
            &--open {
                &:after {
                    
                    transition: 0.5s;
                    transform : rotate(180deg);		
                }
                
            }
            
            
        }

        &__value {
            table {
                margin:0;
                
            }

            &--placeholder {
                color:$kp-text-light-grey;
            }
            td {
                height:32px;
                vertical-align:middle;
                font-size:16px;
                line-height:16px;
                text-align:left;
                font-weight: $semi-bold;
                color:$kp-text-dark-grey;
                
            }
            .day {
                font-size:64px;
                line-height:64px;
                height:64px;
                padding-right:8px;
                font-weight: $bold;
            }
            .month {
            }
            .year {
                vertical-align:middle;
                font-weight:normal;
            }
            
            &--open td {
                color: $kp-teal;
            }
        }
        
        
        &__list {
            width:400px;
            position:absolute;
            z-index:2;
            background:#FFF;
            border-width:0px 1px 1px;
            border-color:light-grey;
            border-style:solid;
            overflow:visible;
        }

        &__item {

            padding:0.5rem;
            text-align:left;
            &:hover {
                background:light-grey;
            }
        }
    }

    @media screen and (max-width:959px) {
        position:relative;
        &__caption {
            position:relative;
            color:$kp-text-dark-grey;
            text-align:left;
            cursor:pointer;
            font-size: 12px;
            line-height: 24px;
            vertical-align: top;
            font-weight: $semi-bold;
            &:after {			
                position:relative;
                top:0;
                right: -12px;
                content: '';
                transition: 0.5s;
                display: inline-block;
                width:10px;
                height:10px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="rgb(1,186,198)"/></svg>');
            }
            &--open {
                &:after {
                    
                    transition: 0.5s;
                    transform : rotate(180deg);		
                }
                
            }
            
            
        }

        &__value {
            table {
                margin:0;
                
            }

            &--placeholder {
                color:$kp-text-light-grey;
            }
            td {
                height:20px;
                vertical-align:middle;
                font-size:12px;
                line-height:12px;
                text-align:left;
                font-weight: $semi-bold;
                color:$kp-text-dark-grey;
                
            }
            .day {
                font-size:40px;
                line-height:40px;
                height:40px;
                padding-right:8px;
                font-weight: $bold;
            }
            .month {
            }
            .year {
                vertical-align:middle;
                font-weight:normal;
            }
            
            &--open td {
                color: $kp-teal;
            }
        }
        
        
        &__list {
            width:400px;
            position:absolute;
            z-index:2;
            background:#FFF;
            border-width:0px 1px 1px;
            border-color:light-grey;
            border-style:solid;
            overflow:visible;
        }

        &__item {

            padding:0.5rem;
            text-align:left;
            &:hover {
                background:light-grey;
            }
        }
    }


    }
