.dropdown {
	position:relative;
	@extend .font-circle;
	&__caption {
		position:relative;
		text-transform: uppercase;
		color: #a3a3a3;
		@extend .pointer;
		&:after {
			@extend .fa;
			position:relative;
			top:0;
			right:-1rem;
			content: '\f107';
			@include transition(0.5s);
			@media (max-width:991px) {
				font-size:1.5rem;
			}
		}
		&--open {
			&:after {
				@include transition(0.5s); 
				@include transform(rotate(180deg));		
			}
		}
		&--winter {
			&:after {
				color:#00a0dc;
			}
		}
		&--summer {
			&:after {
				color:#56cc56;
			}
		}
	}

	&__value {
		margin-top:1rem;
		font-weight:bold;
		color:$black;
		font-size:1rem;
		&--placeholder {
			color:$mid-grey;
		}
		@media (max-width:767px ) {
		//	text-align:center;
		}
		
	}

	&__list {
		width:400px;
		position:absolute;
		z-index:10;
		background:$white;
		border-width:0px 1px 1px;
		border-color:$light-grey;
		border-style:solid;
		overflow:visible;
		
	}

	&__item {
		padding:0.5rem;
		text-align:left;
		&:hover {
			background:$light-grey;
		}
	}

	&-custom &__value {
		font-size:4rem;
		line-height:4rem;
		text-align:left;
		@media (min-width:768px) {
			text-align:center;
		}
		span {
			margin-left:1rem;
			font-size:1rem;
		}
	}

	&-inline &__value {
		display:none;
	}






}