@font-face {
    font-family: "Panton";
    src: url("./fonts/Panton-Regular.ttf");
    font-weight: $regular;
  }   

@font-face {
    font-family: "Panton";
    src: url("./fonts/Panton-SemiBold.ttf");
    font-weight: $semi-bold;
   }

@font-face {
    font-family: "Panton";
    src: url("./fonts/Panton-Bold.ttf");
    font-weight: $bold;
   }   
@font-face {
    font-family: "Panton";
    src: url("./fonts/Panton-ExtraBold.ttf");
    font-weight: $extra-bold;
   }   
