.footer {
    @media screen and (min-width:960px) {
        &__container {
            width:100%;
            margin:0 auto;
            max-width:1200px;
            box-sizing: border-box;
            padding-left:20px;
            padding-right:20px;
            &--flex {
                display:flex;
                flex-flow:row;        
                align-items: flex-end;
                justify-content: space-between;
            }
            &--flex2 {
                display:flex;
                flex-flow:row;        
                align-items: flex-start;
                justify-content: space-between;
            }
        }
        &__top {
            background:#FFF;
            padding-top:11px;
            padding-bottom:49px;
            border-top:1px solid $kp-text-light-grey;
            margin-top:96px;
        }

        &__address {
            
            width:33%;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: $kp-text-dark-grey;
            text-align: left;
            p {
                max-width: 260px;
                margin-top:28px;
                margin-bottom:28px;
            }
        }
        &__logo {
            width:33%;
            text-align:center;
            padding-bottom: 40px;
            img {
                display: block;
                width:170px;
                height:auto;
                margin: 11px auto ;
            }
        }
        &__phone {
            text-decoration: none;
            display: block;
            margin:11px auto;
            font-size:36px;
            line-height: 100%;
            font-weight: 600;
            color:$kp-text-dark-grey;
        }
        &__email {
            text-decoration: none;
            display: block;
            margin:11px auto;
            font-size:18px;
            line-height: 100%;
            font-weight: 500;
            color:$kp-text-dark-grey;
        }

        &__icons {
            width:33%;
            text-align:right;
        }
        
        &__app {
            display: flex;
            flex-flow:row;
            margin-top:15px;
            margin-bottom:15px;
            justify-content: flex-end;
            p {
                font-size: 12px;
                max-width:137px;
                text-align: left;
                padding-left:11px;
                font-weight: $semi-bold;
            }
        }
        &__social {
            margin-top:15px;
            margin-bottom:15px;
            width:215px;
            text-align:left;
            margin-left:auto;
            margin-right:6px;

        }
        &__feedback {
            width:100%;
            padding-top:8px;
            padding-bottom:8px;
            text-align:center;
            position: relative;
            &:before {
                position:absolute;
                top:50%;
                left:0;
                height:1px;
                width:100%;
                display: block;
                content: '';
                background-color:$kp-text-dark-grey;
                opacity:0.3;
                z-index:0;
            }
            &-btn {
                
                position: relative;
                z-index:1;
                display: inline-block;
                margin:0 auto;
                border:2px solid $kp-text-dark-grey;
                border-radius: 5px;
                outline:none;
                padding:18px 54px;
                color:$kp-text-dark-grey;
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                background-color: #FFF;
                box-sizing: border-box;
                &:before, &:after {
                    z-index:0;
                    position:absolute;
                    top:0;
                    background-color:#FFF;
                    height:100%;
                    content: '';
                    display: block;
                    width:13px;
                }

                &:before {
                    left:-15px;
                }
                &:after {
                    right:-15px;
                }
            }
        }

        &__menu {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content:flex-start;
            margin-left:-27px;
            &-col, & > * {
                box-sizing: border-box;
                padding-left:27px;
                padding-right:27px;
                flex-basis: 20%;
            }

            &-header, &-link {
                font-size:14px;
                font-weight: $bold;
                color:#484151;
                display:block;
                text-decoration: none;
                margin-bottom:28px;
                margin-top:36px;
                transition: color 0.3s;
                &:hover {
                    transition: color 0.3s;
                    color:$kp-red;
                }
            }
            &-sublink {
                transition: color 0.3s;
                font-size:14px;
                font-weight: $semi-bold;
                color:#7f7688;
                display:block;
                text-decoration: none;
                margin-bottom:14px;
                margin-top:14px;
                &:hover {
                    transition: color 0.3s;
                    color:transparentize($kp-red, 0.30);
                }
            }

        }

        &__bottom {
            padding-top:28px;
            padding-bottom:28px;
            background-color:#DAD9DC;

            &-col {
                &:nth-of-type(1) {
                    flex-basis:30%;
                    font-size: 14px;
                    line-height: 22px;
                    color:$kp-text-dark-grey;
                    font-weight: $semi-bold;
                }
                &:nth-of-type(2) {
                    flex-basis:46%;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: $semi-bold;
                    color:transparentize($kp-text-dark-grey, 0.5);
                }
                &:nth-of-type(3) {
                    flex-basis:18%;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: $semi-bold;
                    color:$kp-text-dark-grey;
                        a {
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: $semi-bold;
                        color:$kp-text-dark-grey;
                        }
                }
            }

        }
        
    }



    @media screen and (max-width:959px) {
        &__container {
            width:100%;
            margin:0 auto;
            box-sizing: border-box;
            padding-left:16px;
            padding-right:16px;
            &--flex {
                display: flex;
                flex-flow:column;
            }
        }
        &__top {
            background:#FFF;
            padding-top:32px;
            padding-bottom:32px;
            border-top:1px solid $kp-text-light-grey;
        }

        &__address {
            order:3;
            font-size: 12px;
            font-weight: $semi-bold;
            line-height: 16px;
            color: $kp-text-dark-grey;
            text-align: center;
            p {
                padding-left: 28px;
                padding-right: 28px;
                margin-top:28px;
                margin-bottom:28px;
            }
        }
        &__logo {
            order:1;
            text-align:center;
            box-sizing: border-box;
            padding-top: 20px;
            padding-bottom: 0px;
            img {
                display: block;
                min-width:96px;
                height:auto;
                width:33%;
                margin: 0px auto 24px;
            }
        }
        &__phone {
            text-decoration: none;
            display: block;
            margin:15px auto;
            font-size:24px;
            font-weight: $semi-bold;
            color:$kp-text-dark-grey;
        }
        &__email {
            text-decoration: none;
            display: block;
            margin:14px auto;
            font-size:14px;

            font-weight: $semi-bold;
            color:$kp-text-dark-grey;
        }

        &__icons {
            order:2;
            text-align:center;
        }
        
        &__app {
            display: none;
        }
        &__social {
            margin-top:15px;
            margin-bottom:0px;
            text-align:center;
        }
        &__feedback {
            width:100%;
            padding-top:8px;
            padding-bottom:8px;
            text-align:center;
            &-btn {
               
                position: relative;
                z-index:1;
                display: inline-block;
                margin:0 auto;
                border:2px solid $kp-text-dark-grey;
                border-radius: 5px;
                outline:none;
                padding:13px 24px;
                color:$kp-text-dark-grey;
                text-decoration: none;
                font-size: 14px;
                font-weight: $semi-bold;
                background-color: #FFF;
                box-sizing: border-box;
                
            }
        }

        &__menu {
            display: none;
        }

        &__bottom {
            padding-top:20px;
            padding-bottom:20px;
            background-color:#DAD9DC;

            &-col {
                text-align:center;
                padding-top:12px;
                padding-bottom:12px;
                &:nth-of-type(1) {

                    font-size: 14px;
                    line-height: 22px;
                    color:$kp-text-dark-grey;
                    font-weight: $semi-bold;
                }
                &:nth-of-type(2) {

                    font-size: 14px;
                    line-height: 22px;
                    font-weight: $semi-bold;
                    color:transparentize($kp-text-dark-grey, 0.5);
                }
                &:nth-of-type(3) {

                    font-size: 14px;
                    line-height: 22px;
                    font-weight: $semi-bold;
                    color:$kp-text-dark-grey;
                        a {
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: $semi-bold;
                        color:$kp-text-dark-grey;
                        }
                }
                
    }
        }
    }}
    