.guests {
    @media screen and (min-width:960px){
        opacity:0;
        &__minus, &__plus {
            z-index:1;
            cursor:pointer;
            width:96px;
            position:absolute;
            top:calc(50% - 16px);
            color:$kp-teal;
            font-size:48px;
            font-weight:$regular;
                opacity: 0;

        }
        &__minus {
            text-align:left;
            left:10%;
        }
        &__plus {
            text-align:right;
            left:auto;
            right:10%;
        }

        &__group {
            user-select:none;
            * {
                user-select:none;	
            }
            position:relative;
            text-align:center;
            &:hover {
                .guests__minus, .guests__plus {
                    opacity:1;
                    transition:0.5s;
                }
            }
            
        }
        &--ready {
            opacity:1;
        }
     
        &__value {
            
            font-weight:bold;
            color:$kp-text-dark-grey;
            font-size:64px;
            text-align:center;
            
            span {
                font-size:16px;
                font-weight:$semi-bold;
            }
            &--placeholder {
                color:grey;
            }
            
            
        }

        &__caption {
            
            position:relative;
            text-transform: none;
            color: $kp-text-dark-grey;
            font-weight:$semi-bold;
            cursor: pointer;
            &--has-value {
                color:$kp-teal;
                text-transform:none ;
            }
            &--caret {
                &:after {			
                    position:relative;
                    top:0;
                    right: -16px;
                    content: '';
                    transition: 0.5s;
                    display: inline-block;
                    width:10px;
                    height:10px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="rgb(1,186,198)"/></svg>');
                }
                &--open {
                    &:after {
                        
                        transition: 0.5s;
                        transform : rotate(180deg);		
                    }
                    
                }

            }
        }	

        &__panel {
            position:relative;
            top:-24px;
            margin-bottom:-48px;
            display:none;
            color:$kp-teal;
            background:white;
            width:100%;
            z-index:1;
            &--visible {
                display:block;
            }

            .guests__minus, .guests__plus {
                    text-align:center;
                    opacity:1 !important;
                    font-size:40px;
                    color:inherit;
                    top:calc(50% - 28px);
                    
                }
           
                        
                .guests__minus {
                    left:0%;
                }
                .guests__plus {
                    right:6px;
                }
                .guests__value span {
                        //display:block;
                }
            
            .guests__value {
                padding-left:4px;
                color:inherit;	
                font-size:48px;
                position: relative;
                //left:-11px;
            }
            
        }
    }

    @media screen and (max-width:959px){
        & {
            opacity:0;
        }
        &__minus, &__plus {
            z-index:1;
            cursor:pointer;
            width:48px;
            position:absolute;
            top:calc(50% - 16px);
            color:$kp-teal;
            font-size:32px;
            font-weight:$regular;
        }
        &__minus {
            text-align:left;
            left:0;
        }
        &__plus {
            text-align:right;
            left:auto;
            right:24px;
        }

        &__value {
            position:relative;
            left:32px;   
            margin-bottom:16px;
        }
        &__group {
            user-select:none;
            * {
                user-select:none;	
            }
            position:relative;
            text-align:center;
            text-align:left;
           
        }
        &--ready {
            opacity:1;
        }
        
        /* &__value {
            font-weight:bold;
            font-size:4rem;
            @extend .font-circle;
        
        } */
        &__value {
            
            font-weight:bold;
            color:$kp-text-dark-grey;
            font-size:40px;
            text-align:center;
            span {
                font-size:16px;
                font-weight:$semi-bold;
            }
            &--placeholder {
                color:grey;
            }
            @media (max-width:767px ) {
                text-align:left;
            }
            
        }

        &__caption {
            position:relative;
            text-transform: none;
            color: $kp-text-dark-grey;
            font-weight:$semi-bold;
            cursor: pointer;
            font-size: 12px;
            &--has-value {
                color:$kp-teal;
                text-transform:none ;
            }
            &--caret {
                &:after {			
                    position:relative;
                    top:0;
                    right: -16px;
                    content: '';
                    transition: 0.5s;
                    display: inline-block;
                    width:10px;
                    height:10px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="rgb(1,186,198)"/></svg>');
                }
                &--open {
                    &:after {
                        transition: 0.5s;
                        transform : rotate(180deg);		
                    }   
                }
            }
        }	

        &__panel {
            position:relative;
            top:-24px;
            margin-bottom:-32px;
            display:none;
            color:$kp-teal;
            background:white;
            width:100%;
            z-index:1;
            &--visible {
                display:block;
            }

            .guests__minus, .guests__plus {
                    text-align:left;
                    opacity:1 !important;
                    font-size:32px;
                    color:inherit;
                    top:calc(50% - 20px);
                }
            
                .guests__minus {
                        left:0;
                }
                .guests__value {
                    color:inherit;	
                    font-size:32px;
                    left:40px;
               }
                .guests__plus {
                    right:auto;
                    left:120px;
                    
                }
                       
        }       
    }
}