.header {
    @media screen and (min-width:960px) {
        height:130px;
        box-sizing:border-box;
        font-family: 'Panton', 'Sans-serif';
        padding-top:0px;
        background: #ffffff;
        position:fixed;
        width:100vw;
        top:0;
        left:0;
        transition: height 0.2s;
        z-index:$menu-level;
        &__wrapper {
            position: relative;
            top:0;
            left:0;
            height:130px;
            width:100%;
            background:#FFF;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            
        }
        &__container {
            width:100%;
            max-width:1160px;
            margin:0 auto;
            display:flex;
            flex-flow:row;
            flex-wrap: nowrap;
        }
        
        &__social-links {
            display:none;
        }
        
        &__specials {
            cursor:pointer;
            height:65px;
            padding-top:36px;
            padding-bottom:11px;
            text-align:right;
            display: block;
            box-sizing:border-box;
            li:not(.header__social-links) {
                display: inline-block;
            }
            li {
                color:#A197AC;
                
                padding:0 20px;
            }
        }
        &__search-input {
            width:0px;
            border-width:0px;
            transition: 0.5s;
        }

        &__search {
            display: block;
            width:20px;
            height:20px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(161,151,172)" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
            background-size:20px 20px;
            background-repeat: no-repeat;
            transition:0.5s;
            &:hover {
                transition:0.5s;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(72,65,81)" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
            }
            &--active {
                .header__search-input {
                    border-width:0px;
                    padding-right:2rem;
                    border-bottom:1px solid;
                    border-bottom-color: $kp-text-dark-grey;
                    width:120px;
                    &:focus {
                        outline:none;
                    }
                }
                &:after {
                    left:-1.0rem;
                }
            }
        }

        &__link {
            color:#a197ac;
            text-decoration: none;
            transition:color 0.5s;
            &:hover {
                transition:color 0.5s;
                color: #484151;
            }
        }

        &__language-link {
            display:inline-block;
            font-size:12px;
            margin:0 6px;
            color:#a197ac;
            text-decoration: none;
            transition:color 0.5s;
            &:hover {
                transition:color 0.5s;
                color: #484151;
            }
            &--current {
                color:#484151;
                
                border-bottom:1px solid currentColor;
            }
        }

        &__logo {

            height: 130px;
            display: flex;
            flex-flow: row;
            align-items: flex-end;
            position:relative;
            z-index:$menu-level - 3;
            line-height:0px;
            width:30%;
            transition: height 0.3s;
            //transition: height 0.1s;
            img {
                transition: height 0.3s;
                display: block;
                position: relative;
                top:1px;
                height:96px;
                width:auto;    
            }
        }

        &__controls {
            width:70%;
        }

        &__menu {
            text-align:right;
            box-sizing: border-box;
            padding-top:11px;
            height:65px;
            
        }
        &__menu-switch {
            display:none;
        }

        &--fixed {
            height:72px;
            transition: height 0.5s;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);           
            z-index:$menu-level;
        }

        &--fixed &__logo {
            height: 72px;
            transition: height 0.4s;
            
            /* display: flex;
            flex-flow: row;
            align-items: flex-end;
            position:relative;
            z-index:7;
            line-height:0px;
            width:30%; */
            img {
                transition: height 0.4s;
                display: block;
                position: relative;
                top:1px;
                height:64px;
                width:auto;    
            }
        }

        &--fixed &__controls {
            display: flex;
            flex-flow:row;
            justify-content: flex-end;
        }

        &--fixed &__menu {
            order:1;
            padding-top:24px;
        }

        &--fixed &__specials {
            order:99;
            padding-top:24px;
            & > li:not(.header__search) {
                display: none;
            }

        }       
    }

    /******************************

    Mobile version
    < 960 px
    
    *****************************/


    @media screen and (max-width:959px) {
        & {
            height: 50px;
            background:#FFF;
            width:100%;
            padding:0;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            font-family: 'Panton', 'Sans-serif';
            font-size: 16px;
        }
        &__logo {
            height: 50px;
            padding-left:20px;
            width:100%;
            box-sizing: border-box;
            display: flex;
            flex-flow: row;
            align-items: flex-end;
            position:fixed;
            z-index:$menu-level - 4;
            top:0;
            left:0;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            background-color:#FFF;
            img {
                display: block;
                margin-top:9px;
                height:41px;
            }
        }
        
        &__menu-switch {
            display: block;
            cursor:pointer;
            position:fixed;
            right:16px;
            top:14px;
            width:18px;
            height:18px;
            z-index:$menu-level - 2;
            background-color: $kp-text-dark-grey;
            &:before, &:after {
                display: block;
                position:absolute;
                content:'';
                right:0px;
                width:18px;
                height:3px;
                background-color: #FFF;
                transform: rotate(0deg) translate(0, 0);
                transition:transform 0.5s;
            }
            &:before {
                top:4px;
            }
            &:after {
                top:11px;
            }

            &--open {
                top:0;
                right:0;
                width:50px;
                height:50px;
                position:fixed;
                background-color: $kp-teal;
                transition: background-color 0.5s;
                &:before, &:after {
                    left:16px;
                    background-color: #FFF;
                    transition:transform 0.5s;
                }
                &:before {
                    top:18px;
                    transform: rotate(45deg) translate(3px, 3px); 
                    
                }
                &:after {
                    top:25px;
                    transform: rotate(-45deg) translate(2px, -2px); 
                }

            }
        }

        &__language-link {
            position: fixed;
            transition:right 0.5s;
            right:-50px;
            width:49px;
            height:52px;
            background-color:$kp-text-dark-grey;
            font-size: 12px;
            padding-top:18px;
            padding-left:18px;
            line-height: 12px;
            box-sizing: border-box;
            color:rgba(255,255,255,0.5);
            &--current {
                color:#FFF;
                text-decoration:underline;
            }
            &:nth-of-type(1) {
                top:50px;
            }
            &:nth-of-type(2) {
                top:102px;
            }
        }

        &__controls {
            position:absolute;
            top:0;
            height:100%;
            width:calc(100vw - 50px);
            box-shadow: 0 200px 100vw rgba(0,0,0,1);
            z-index:$z-menu;
            display: flex;
            flex-flow:column;
            background:#FFF;
            padding-top:50px;
            transition:left 1s;
            left:-200vw;
            border-left: 1px solid $kp-text-light-grey;
            &--open {
                left:0;
                transition:left 1s;
            }   
           
        }
        &__controls--open &__language-link {
            right:0;   
            transition:right 0.5s;
        }

        &__menu {
            order:1;
        }

        &__specials {
            order:99;
        }
        &__search {
            position:absolute;
            top:0;
            left:0;
            height:50px;
            box-sizing: border-box;
            border-bottom:2px solid $kp-teal;
            width:100%;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(161,151,172)" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
            background-size:20px 20px;
            background-repeat: no-repeat;
            background-position: 15px 15px;
            padding: 0 0 0 50px;
            &-input {
                
                border:0px;
                height:46px;
                font-size:16px;
                background-color:#FFF;
                color:$kp-text-dark-grey;
                padding:10px;
                box-sizing: border-box;
                width:calc(100% - 2px);

            }

        }
        &__link {
            color:#a197ac;
            text-decoration: none;
            transition:color 0.5s;
            display:block;
            text-align:center;
            font-size: 16px;
            line-height: 24px;
            margin-top:12px;
            padding-bottom:12px;
            border-bottom: 1px solid #DCDCDC;
            box-sizing: border-box;
        }
        
        &__social-links {
            display: block;
            text-align: center;
        }

        
        
    }
}









 