.home {
    @media screen  and (min-width:960px){
        &__video {
            z-index:$video-bg-level;
            position:absolute;
            top:130px;
            left:0;
            width:100%;
            height:85vh;
            box-sizing:border-box;
        }         
            
        &__overlay {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index:$video-bg-level;
            background: rgba(0,0,0,.25);
            box-sizing:border-box;
        }

        &__title-container {
            box-sizing:border-box;
            position:relative;
            top:0;
            left:0;
            height:calc( 90vh - 148px  );	
            width:100%;
            display: flex;
            flex-flow:column;
            align-items: center;
            justify-content: center;
            z-index:0;
        }

        &__title-header {
            position:relative;
            font-weight: $regular;
            color:#FFF;
            text-decoration: none;
            font-size: 36px;
            text-align:center;
            a {
                font-weight: inherit;
                color: inherit;
                text-decoration: none;
                font-size: inherit;
            }
            &:before,&:after {
                position: absolute;
                top:50%;
                
                height:1px;
                width: 108px;
                border-bottom:1px solid #FFF;
                display: block;
                content: '';
            }
            &:before {
                left:-126px;
            }
            &:after {
                right:-126px;
            }

        }

        &__title {
            font-weight: $black;
            position:relative;
            color:#FFF;
            text-decoration: none;
            font-size: 72px;
            text-align:center;
            margin-top:25px;
            margin-bottom:36px;
            a {
                font-weight: inherit;
                color: inherit;
                text-decoration: none;
                font-size: inherit;
            }
        }

        &__title-link {
            font-weight: $extra-bold;
            position:relative;
            color:#FFF;
            text-decoration: none;
            font-size: 18px;
            text-align:center;
            box-sizing: border-box;
            text-align: center;
            padding:22px 61px;
            border:3px solid #FFF;
            border-radius:4px;
            a {
                font-weight: inherit;
                color: inherit;
                text-decoration: none;
                font-size: inherit;
            }
        }

    }

    @media screen and (max-width:959px) {
        &__video {
            z-index:$video-bg-level;
            position:absolute;
            top:50px;
            left:0;
            width:100vw;
            height:50vh;
            box-sizing:border-box;
        }         
            
        &__overlay {
            position:absolute;
            top:0;
            left:0;
            width:100vw;
            height:100%;
            z-index:$video-bg-level;
            background: rgba(0,0,0,.25);
            box-sizing:border-box;
        }

        &__title-container {
            box-sizing:border-box;
            position:relative;
            top:0;
            left:0;
            height: calc(40vh + 50px);	
            width:100vw;
            display: flex;
            flex-flow:column;
            align-items: center;
            justify-content: center;
            
        }

        &__title-header {
            position:relative;
            font-weight: $regular;
            color:#FFF;
            text-decoration: none;
            font-size: 18px;
            text-align:center;
            a {
                font-weight: inherit;
                color: inherit;
                text-decoration: none;
                font-size: inherit;
            }
            &:before,&:after {
                position: absolute;
                top:50%;
                
                height:1px;
                width: 48px;
                border-bottom:1px solid #FFF;
                display: block;
                content: '';
            }
            &:before {
                left:-68px;
            }
            &:after {
                right:-68px;
            }

        }

        &__title {
            font-weight: $black;
            position:relative;
            color:#FFF;
            text-decoration: none;
            font-size: 34px;

            text-align:center;
            margin-top:12px;
            margin-bottom:18px;
            a {
                font-weight: inherit;
                color: inherit;
                text-decoration: none;
                font-size: inherit;
            }
        }

        &__title-link {
            font-weight: $extra-bold;
            position:relative;
            color:#FFF;
            text-decoration: none;
            font-size: 12px;
            text-align:center;
            box-sizing: border-box;
            text-align: center;
            padding:12px 30px;
            border:2px solid #FFF;
            border-radius:4px;
            a {
                font-weight: inherit;
                color: inherit;
                text-decoration: none;
                font-size: inherit;
            }
        }
    }

	
}
