.home-app {
    @media screen and (min-width:960px) {
        &{
            width:840px;
            height:320px;
            border:8px solid $kp-text-dark-grey;
            margin:64px auto 80px;
            box-sizing:content-box;
            display:flex;
            flex-flow:row;
            justify-content:space-evenly;
            
        }

        &__image {
            width:187px;
            box-sizing:border-box;
            overflow:hidden;
            border-radius:0 0 90px 90px;
            margin-bottom:64px;
            position:relative;

            
        }

        &__bg {
            width:187px;
            height:187px;
            position:absolute;
            border-radius:100%;
            bottom:0;
            

        }
        &__hand {            
            height:auto;
            width:187px;
            position:absolute;
            bottom:-100px;
            right:-100px;
            left:auto;
            top:auto;
            z-index:1;
            transition:0.5s;
            &--visible {
                bottom:0px;
                right:0px;
                transition:right 2s, bottom 2s, transform 0.5s;    
            }
            &:hover {
                transition:0.5s;    
                transform:scale(1.2);
            }
        }

        &__text {
            padding-top:47px;
            width:360px;
            box-sizing:border-box;
            p {
                font-family:'Panton', sans-serif;
            }
            p:nth-of-type(1) {
                font-weight:$semi-bold;
                text-transform:uppercase;
                font-size:12px;
                letter-spacing:0.1em;
                line-height:16px;
                color:transparentize($kp-text-dark-grey, 0.5);
                margin-bottom:16px;
            }
            
            p:nth-of-type(2) {
                font-weight:$black;
                margin-top:16px;
                font-size:44px;
                line-height:40px;
                color:$kp-text-dark-grey;
                margin-bottom:12px;
            }
            p:nth-of-type(3) {
                font-weight:$regular;
                margin-top:12px;
                font-size:24px;
                line-height:32px;
                color:$kp-text-dark-grey;
                margin-bottom:32px;
            }
        }

        &__buttons {
            display:flex;
            flex-direction:row;
            justify-content:space-between;
        }

    }

    @media screen and (max-width:959px) {
        &{
            
            height:auto;
            border:8px solid $kp-text-dark-grey;
            margin:32px 4px 32px;
             
        }

        &__image {
            width:187px;
            height:262px;
            box-sizing:border-box;
            overflow:hidden;
            margin:0 auto 32px auto;
            position:relative;
            border-radius:0 0 90px 90px;
        }

        &__bg {
            width:187px;
            height:187px;
            position:absolute;
            border-radius:100%;
            bottom:0;
        }
        &__hand {            
            height:auto;
            width:187px;
            position:absolute;
            bottom:0px;
            right:0px;
            left:auto;
            top:auto;
            z-index:1;
            transition:0.5s;
        }

        &__text {
            text-align:center;
            width:236px;
            margin:0 auto 40px;
            box-sizing:border-box;
            p {
                font-family:'Panton', sans-serif;
                text-align:center;
            }
            p:nth-of-type(1) {
                font-weight:$semi-bold;
                text-transform:uppercase;
                font-size:12px;
                letter-spacing:0.1em;
                line-height:16px;
                color:transparentize($kp-text-dark-grey, 0.5);
                margin-bottom:16px;
            }
            
            p:nth-of-type(2) {
                font-weight:$black;
                margin-top:16px;
                font-size:32px;
                line-height:40px;
                color:$kp-text-dark-grey;
                margin-bottom:12px;
            }
            p:nth-of-type(3) {
                font-weight:$regular;
                margin-top:12px;
                font-size:16px;
                line-height:24px;
                color:$kp-text-dark-grey;
                margin-bottom:32px;
            }
        }

        &__buttons {
            display:flex;
            flex-direction:row;
            justify-content:space-between;

            img {
                height:36px;
                width:auto;
            }
        }

    }


}