.home-offers {
        
    @media screen and (min-width:1160px) {
        & {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width:100%;
            max-width: 1160px;
            margin:20px auto;
            justify-content: space-between;

        }
    
        &__item {
            height:376px;
            margin-top:8px;
            margin-bottom:8px;
            background-color: #C4C4C4;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            background-position: 50% 50%;
            background-image: url('data:image/svg+xml;utf8,<svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M62.0604 20L127.996 42.573L147.817 26.1872L190.526 58.483L151.815 180H10L62.0604 20Z" fill="rgb(255,255,255)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M83.6262 68.6636C90.9957 68.6636 96.959 74.6638 96.959 82.0408V120.235C96.959 127.629 90.9957 133.612 83.6262 133.612C76.2568 133.612 70.2935 127.629 70.2935 120.235V82.0408C70.2935 74.6468 76.2568 68.6636 83.6262 68.6636Z" fill="rgb(196,196,196)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M133.569 101.436L142.87 110.768C148.088 116.003 148.088 124.468 142.87 129.686C137.686 134.888 129.283 134.922 124.082 129.754C118.983 124.502 118.983 116.224 124.015 111.04L124.15 110.904L126.861 108.184L133.569 101.436Z" fill="rgb(196,196,196)"/><path d="M122.963 110.311L122.828 110.447C118.169 115.257 117.83 122.719 121.811 127.921L104.142 110.345C98.89 105.076 98.89 96.6108 104.091 91.3755L122.828 72.5929C128.046 67.3746 136.483 67.3746 141.684 72.5929C146.885 77.8282 146.885 86.2931 141.684 91.5115L125.674 107.574L122.963 110.311Z" fill="rgb(196,196,196)"/></svg>');
        }
        
        &__item:nth-of-type(1) {
            width:376px;
        }
        &__item:nth-of-type(2) {
            width:768px;
        }
        &__item:nth-of-type(3) {
            width:572px;
        }
        &__item:nth-of-type(4) {
            width:572px;
        }

    }

    @media screen and(min-width:960px) and (max-width:1159px) {
        & {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width:100%;
            max-width: 1160px;
            margin:20px auto;
            justify-content: space-between;
        }
        &__item {
            height:33vw !important;
            margin-top:8px;
            margin-bottom:8px;
            background-color: #C4C4C4;
            border-radius: 8px;
        }
        &__item:nth-of-type(1) {
            width:calc(33.3vw - 16px);            
            height:33vw;
        }
        &__item:nth-of-type(2) {
            width:calc(66.6vw - 16px);            
            height:33vw;
        }
        &__item:nth-of-type(3) {
            width:calc(50vw - 16px);
            height:33vw;
        }

        &__item:nth-of-type(4) {
            width:calc(50vw - 16px);
            height:33vw;
        }      
    }

    @media screen and(max-width:959px) {
        &__item {
            margin-top:8px;
            margin-bottom:8px;
            background-color: #C4C4C4;
            border-radius: 8px;
        }
        &__item {
            width:100vw;
            height:100vw;
            border-radius: 0px;
        }
        &__item:nth-of-type(1) {
            border-radius: 8px;
            width:calc(100vw - 16px);
            height:calc(100vw - 16px);
            margin-left:auto;
            margin-right:auto;
        }
        

    }
}