.home-panel {
    @media screen  and (min-width:960px){
            width:194px;
            box-sizing:border-box;
            padding:22px 18px 18px 18px;
            background:#FFF;
            border-radius: 4px 0 0 4px;
            left:auto;
            right:0;
            position:absolute;
            height:270px;
            overflow:hidden;
            top:calc(50% - 312px/2);
            transition: 0.5s;
            z-index:$home-panel-level;

            &__hide {
                font-weight: $regular;
                font-size:12px;
                color:#929292;
                display: block;
                padding-left:36px;
                background-image: url('data:image/svg+xml;utf8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.590086 10.58L5.17009 6L0.590088 1.41L2.00009 2.46532e-07L8.00009 6L2.00009 12L0.590086 10.58Z" fill="rgb(146,146,146)"/></svg>');
                background-size:12px 8px;
                background-repeat: no-repeat;
                background-position:8px 3px;
                margin-bottom:12px;
                cursor:pointer;
            }

            
            &__link {
                text-decoration:none;
                font-weight: $regular;
                color:$kp-text-dark-grey;
                font-size:14px;
                display: block;
                margin-top:12px;
                margin-bottom:12px;
            }

            &__weather {
                box-sizing: border-box;
                display:flex;
                flex-flow:row;
                border-top:1px solid kp-text-light-grey; 
                padding-bottom:12px;
            }

            &__weather-item {
                width:33%;
                display: block;
                box-sizing: border-box;
                text-align:center;
                text-decoration: none;
                font-weight:$regular;
                font-size: 14px;
                color:lighten($kp-text-dark-grey, 40%);
                
                img{
                    display: block;
                    width:20px;
                    height:auto;
                    margin:6px auto;

                }
            }
            &__weather-temp {
                font-weight: $bold;
                color:$kp-text-dark-grey;
                font-size: 18px;
            }
            &--collapsed {
                width:70px;
                overflow-x:hidden;
            }
            &--collapsed &__hide{
                background-image: url('data:image/svg+xml;utf8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41004 1.42L2.83003 6L7.41003 10.59L6.00003 12L3.48568e-05 6L6.00004 -1.23266e-07L7.41004 1.42Z" fill="rgb(1,186,198)"/></svg>');                 
                height: 12px;
                font-size: 0;
            }

            &--collapsed &__link span{
                display:none;
            }
            &--collapsed &__weather-item {
                width:100%;
            }
            &--collapsed &__weather-item:nth-of-type(2n+1) {
                display: none;
            }

            


       
    
        }

        @media (max-width: 959px) {

                display: flex;
                flex-direction:row;
                position:absolute;
                width:calc(100vw - 14px);
                top:0;
                left:7px;
                max-height:40px;
                box-sizing:border-box;
                padding:0 12px 0 12px;
                background:#e8e8e8;
                border-radius: 0 0 4px 4px;
                transition: 0.5s;
                z-index:$home-panel-level;

                &__hide {
                    width:15%;
                    font-weight: $regular;
                    font-size:0px;
                    color:#929292;
                    display: flex;
                    text-align:left;
                    line-height: 24px;
                    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.42 0.590087L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L-6.16331e-08 2.00009L1.42 0.590087Z" fill="rgb(1,186,198)"/></svg>');
                    background-size:12px 8px;
                    background-repeat: no-repeat;
                    background-position:50% 50%;
                    writing-mode:vertical-lr;
                    align-items: center;
                    padding:16px 0 6px 0;
                }
                
                &__link {
                    padding:0 0 8px 0;
                    writing-mode:vertical-lr;
                    text-decoration:none;
                    font-weight: $regular;
                    color:$kp-text-dark-grey;
                    font-size:12px;
                    flex-direction: row-reverse;
                    width:15%;
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        display:none;                   
                    }
                    i {
                        margin-top:0px;
                    }

                }

                &__weather {
                    width:40%;
                    padding:6px 0 6px 0;
                    box-sizing: border-box;               
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-left:1px solid transparentize($kp-text-dark-grey, 0.8); 
                }

                
                &__weather-item {
                    box-sizing: border-box;
                    text-align:center;
                    text-decoration: none;
                    font-weight:$regular;
                    font-size: 12px;
                    color:lighten($kp-text-dark-grey, 40%);
                    display: flex;
                    align-items:center;
                    flex-direction: row;
                    height:40px;
                    img{
                        display: inline-block;
                        width:20px;
                        height:auto;
                        margin:0 10px;
                    }

                    &:nth-of-type(2n+1) {
                        display:none;

                    }
                }
                &__weather-temp {
                    font-weight: $bold;
                    color:$kp-text-dark-grey;
                    font-size: 16px;
                }

                &--collapsed {
                    max-height:180px;
                    transition: 0.5s;
                }
                
                &--collapsed &__hide{
                    font-size:12px;
                    background-image: url('data:image/svg+xml;utf8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m 8.8750879,9.7050021 -4.58,-4.580004 -4.59000002,4.580002 -1.40999978,-1.410002 5.9999998,-6 6.0000001,6 -1.4200001,1.410004 z" fill="rgb(146,146,146)"/></svg>');
                    background-position:50% calc(100% - 8px);
                }

                &--collapsed &__link{
                    padding:16px 0 6px 0;
                    span {
                        display: inline-block;
                    }
                    i {
                        margin-top:11px;
                        margin-left:15%;
                    }
                    
                }

                &--collapsed &__weather {
                    padding:16px 0 6px 0;
                }

                &--collapsed &__weather-item {
                    display: flex;
                    
                    
                }
        }
    }