.home-blog {
    @media screen and (min-width:960px) {
        max-width:1160px;
        margin:40px auto 32px;

    }
    @media screen and (max-width:959px) {
        
        margin:40px auto 32px;
        
    }
}