.home-events {
    @media screen and (min-width:960px) {
        & {
            margin-top:42px;
            margin-bottom:42px;
            height:376px;
            max-width:1160px;
            width:100%;
            padding-left:197px;
            padding-right:197px;
            box-sizing:border-box;
            margin-left:auto;
            margin-right:auto;
            position:relative;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            align-items:center;
            justify-content:space-between;
            @media screen and (max-width:1160px) {
                padding-left: 16vw;
                padding-right:16vw;
            }
        }
         

        
        
         
        &__slider {
            margin-bottom:32px;
            position:relative;
            height:376px;
            width:100%;
            z-index:1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width:1160px) {
                height:calc(33vw - 8px);
                
            }
        }

        &__item {
            height:376px;
            width:376px;
            background-color: #C4C4C4;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            background-position: 50% 50%;
            background-image: url('data:image/svg+xml;utf8,<svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M62.0604 20L127.996 42.573L147.817 26.1872L190.526 58.483L151.815 180H10L62.0604 20Z" fill="rgb(255,255,255)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M83.6262 68.6636C90.9957 68.6636 96.959 74.6638 96.959 82.0408V120.235C96.959 127.629 90.9957 133.612 83.6262 133.612C76.2568 133.612 70.2935 127.629 70.2935 120.235V82.0408C70.2935 74.6468 76.2568 68.6636 83.6262 68.6636Z" fill="rgb(196,196,196)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M133.569 101.436L142.87 110.768C148.088 116.003 148.088 124.468 142.87 129.686C137.686 134.888 129.283 134.922 124.082 129.754C118.983 124.502 118.983 116.224 124.015 111.04L124.15 110.904L126.861 108.184L133.569 101.436Z" fill="rgb(196,196,196)"/><path d="M122.963 110.311L122.828 110.447C118.169 115.257 117.83 122.719 121.811 127.921L104.142 110.345C98.89 105.076 98.89 96.6108 104.091 91.3755L122.828 72.5929C128.046 67.3746 136.483 67.3746 141.684 72.5929C146.885 77.8282 146.885 86.2931 141.684 91.5115L125.674 107.574L122.963 110.311Z" fill="rgb(196,196,196)"/></svg>');
            position:relative;
            overflow:hidden; 
            @media screen and (max-width:1160px) {
                height:calc(33vw - 8px);
                width:calc(33vw - 8px);
            }

        }
        
        &__item-bg {
            z-index:0;
            position: absolute;
            border-radius: inherit;
            background-size:cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
            transition:transform 0.7s;
            transform:none;
            background-color:rgba(72,65,81,.5);
            background-blend-mode:multiply;
        }
        &__item:hover  &__item-bg {
                transition:transform 0.7s;
                transform: scale(1.2);   
            }
            &__item:hover &__item-title {
                text-decoration:underline;
                padding-bottom:40px;
                transition:0.4s;
            }
        
        
        &__item-link {
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            justify-content:space-between;
            height:100%;
            box-sizing:border-box;
            transition:0.4s;
            color:#FFF;
            font-family:'Panton',sans-serif;
            font-size:24px;
            text-align:left;
            font-weight:$extra-bold;
            position:relative;
            z-index:1;
            padding: 32px;
            text-decoration:none;
            line-height:32px;
        }
        &__item-title {
            transition: 0.7s;
            font-family:'Panton',sans-serif;
            font-size:24px;
            text-align:left;
            font-weight:$extra-bold;
        }
        &__item-date {
            color:#FFF;
            font-family:'Panton',sans-serif;
            font-size:48px;
            text-align:left;
            font-weight:$bold;
            display:flex;
            width:100%;
            flex-direction: row;
            align-items:flex-start;
            & > span {
                padding-left:8px;
                font-weight: $bold;
                font-size:18px;
                line-height: 18px;
                font-weight:$semi-bold;
                text-transform: uppercase;
                span {
                    text-transform: none;
                    font-weight: $regular;
                    display:block;
                    font-size:14px;
                    line-height: 24px;
                }
            }
        }
        
    }

    @media screen and (max-width:959px) {
        & {
            height:calc(100vw - 32px);
            width:100%;
            position:relative;
            box-sizing:border-box;
            overflow-y:hidden;
            margin-top:12px;
            margin-bottom:24px;
        }         
         
        &__item {
            height:calc(100vw - 32px);
            width: calc(100vw - 32px);
            margin-left:16px;
            margin-right:16px;
            border-radius:8px;
            background-color: #C4C4C4;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            background-position: 50% 50%;
            background-image: url('data:image/svg+xml;utf8,<svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M62.0604 20L127.996 42.573L147.817 26.1872L190.526 58.483L151.815 180H10L62.0604 20Z" fill="rgb(255,255,255)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M83.6262 68.6636C90.9957 68.6636 96.959 74.6638 96.959 82.0408V120.235C96.959 127.629 90.9957 133.612 83.6262 133.612C76.2568 133.612 70.2935 127.629 70.2935 120.235V82.0408C70.2935 74.6468 76.2568 68.6636 83.6262 68.6636Z" fill="rgb(196,196,196)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M133.569 101.436L142.87 110.768C148.088 116.003 148.088 124.468 142.87 129.686C137.686 134.888 129.283 134.922 124.082 129.754C118.983 124.502 118.983 116.224 124.015 111.04L124.15 110.904L126.861 108.184L133.569 101.436Z" fill="rgb(196,196,196)"/><path d="M122.963 110.311L122.828 110.447C118.169 115.257 117.83 122.719 121.811 127.921L104.142 110.345C98.89 105.076 98.89 96.6108 104.091 91.3755L122.828 72.5929C128.046 67.3746 136.483 67.3746 141.684 72.5929C146.885 77.8282 146.885 86.2931 141.684 91.5115L125.674 107.574L122.963 110.311Z" fill="rgb(196,196,196)"/></svg>');
            position:relative;
            overflow:hidden;    
        }
        
        &__item-bg {
            z-index:0;
            position: absolute;
            border-radius: inherit;
            background-size:cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
            transition:transform 0.7s;
            transform:none;
            background-color:rgba(72,65,81,.5);
            background-blend-mode:multiply;
        }
        
        
        
        &__item-link {
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            justify-content:space-between;
            height:100%;
            box-sizing:border-box;
            transition:0.4s;
            position:relative;
            z-index:1;
            padding: 32px;
            text-decoration:none;
            line-height:32px;
        }
        &__item-title {
            transition: 0.7s;
            font-family:'Panton',sans-serif;
            font-size:16px;
            text-align:left;
            font-weight:$extra-bold;
            color:#FFF;
        }
        &__item-date {
            color:#FFF;
            font-family:'Panton',sans-serif;
            font-size:36px;
            text-align:left;
            font-weight:$bold;
            flex-direction: row;
            display: flex;
            align-items:flex-start;
            & > span {
                padding-left:8px;
                font-weight: $bold;
                font-size:14px;
                line-height: 16px;
                font-weight:$semi-bold;
                text-transform: uppercase;
                span {
                    text-transform: none;
                    font-weight: $regular;
                    display:block;
                    font-size:12px;
                    line-height: 12px;
                }
            }
        }
    }
}