.home-page {

    @media screen and(min-width:960px) {
          &__title {
        font-family: 'Panton', sans-serif;
        font-size: 24px;
        text-align: center;
        vertical-align: bottom;
        color:transparentize($kp-text-dark-grey, 0.5);
        margin-top:20px;
        margin-bottom:20px;
        font-weight: $semi-bold;
        }
        &__link-isolated {
            display:block;
            margin:16px auto;
            text-align:center;
            color:#01bac6;
            font-size:16px;
            font-family: 'Panton', sans-serif;
            font-weight:$semi-bold;

        }
    }
  

    @media screen and(max-width:959px) {
        &__title {
            font-family: 'Panton', sans-serif;
            font-size: 20px;
            text-align: center;
            vertical-align: bottom;
            color:transparentize($kp-text-dark-grey, 0.5);
            margin-top:32px;
            margin-bottom:24px;
            font-weight: $semi-bold;
        }
        &__link-isolated {
            display:block;
            margin:16px auto 32px;
            box-sizing:border-box;
            text-align:center;
            color:#01bac6;
            font-size:16px;
            font-family: 'Panton', sans-serif;
            font-weight:$semi-bold;
    
        }   
    }
}