.home-subscribe {
    @media screen and (min-width:960px) {
        width: 840px;
        display:block;
        margin-top: 80px;
        margin-bottom: 85px;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-end;
        &--success {
            justify-content:center;
            align-items:center;
            font-size:24px;
            color:lighten($kp-text-dark-grey, 25%);
            font-weight:$regular;
        }
        &__slogan {
            font-family:'Panton', sans-serif;
            font-weight:$bold;
            font-size:32px;
            text-align:left;
            line-height:40px;
            color:$kp-text-dark-grey;
            span {
                display:block;
                font-weight:$regular;
                font-size:16px;
                text-align:left;
                line-height:24px;
            }
        }

        &__input {
            outline:none;
            border-width: 0 0 2px 0;
            border-color:$kp-text-dark-grey;
            background:none;
            width:365px;
            padding-bottom:16px;
            color:$kp-text-dark-grey;
            font-size:24px;
            font-weight:$regular;
            &::placeholder {
                font-size:16px;
                color:transparentize($kp-text-dark-grey,0.6);
            }
        }
        &__default {
            display:none;
        }

        &__button {
            font-family: 'Panton';
            outline: none;
            border:none;
            background-color:$kp-teal;
            transition:0.5s;
            text-transform: uppercase;
            color:#FFF;
            font-size: 14px;
            font-weight:$regular;
            padding:14px 37px 13px;

            cursor:pointer;
            border-radius:4px;
            display: inline-block;
            width: 180px;
            line-height:14px;
            height:51px;
            &:hover {
                background-color:darken($kp-teal, 10%);
                transition:0.5s;
            }
            &:disabled {
                background-color:desaturate($kp-teal, 100%);                
                cursor:default;
                color:darken(#FFF,20%);
            }
        }
    }
    @media screen and (max-width:959px) {
        
        display:block;
        margin-top: 32px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        padding:0 16px;
        
        &--success {
            text-align:center;
            
            font-size:18px;
            color:lighten($kp-text-dark-grey, 25%);
            font-weight:$regular;
        }
        &__slogan {
            font-family:'Panton', sans-serif;
            font-weight:$bold;
            font-size:24px;
            text-align:center;
            line-height:32px;
            margin-bottom:16px;
            color:$kp-text-dark-grey;
            span {
                text-align:center;
                display:block;
                font-weight:$regular;
                font-size:16px;
                margin-top:8px;
                line-height:24px;
            }
        }

        &__input {
            
            margin-bottom:16px;
            outline:none;
            border-width: 0 0 2px 0;
            border-color:$kp-text-dark-grey;
            background:none;
            width:100%;
            padding-bottom:16px;
            color:$kp-text-dark-grey;
            font-size:20px;
            font-weight:$regular;
            text-align:center;
            
            &::placeholder {
                font-size:14px;
                line-height:24px;
                text-align:center;
                color:transparentize($kp-text-dark-grey,0.6);
            }
        }
        &__default {
            display:none;
        }

        &__button {
            display:block;
            font-family: 'Panton';
            outline: none;
            letter-spacing:0.04em;
            width:100%;
            border:none;
            background-color:$kp-teal;
            transition:0.5s;
            text-transform: uppercase;
            color:#FFF;
            font-size: 14px;
            font-weight:$semi-bold;
            padding:14px 37px 13px;
            cursor:pointer;
            border-radius:4px;
            line-height:14px;
            height:51px;
            &:hover {
                background-color:darken($kp-teal, 10%);
                transition:0.5s;
            }
            &:disabled {
                background-color:desaturate($kp-teal, 100%);                
                cursor:default;
                color:darken(#FFF,20%);
            }
        }
    }

}