.kp-icon {
    &-social {
        display: inline-block;
        width:29px;
        height:29px;
        border-radius:100px;
        border:2px solid $kp-text-dark-grey;
        margin-left:2px;
        margin-right:2px;
        background-position:9px 9px;
        background-size:12px 12px; 
        background-repeat: no-repeat;
    }
    
    &-facebook {
        background-image: url('data:image/svg+xml;utf8,<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Facebook icon</title><path fill="rgb(72,65,81)" d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"/></svg>');
    }
    &-vk {
        background-image: url('data:image/svg+xml;utf8,<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>VK icon</title><path fill="rgb(72,65,81)" d="M11.701 18.771h1.437s.433-.047.654-.284c.21-.221.21-.63.21-.63s-.031-1.927.869-2.21c.887-.281 2.012 1.86 3.211 2.683.916.629 1.605.494 1.605.494l3.211-.044s1.682-.105.887-1.426c-.061-.105-.451-.975-2.371-2.76-2.012-1.861-1.742-1.561.676-4.787 1.469-1.965 2.07-3.166 1.875-3.676-.166-.48-1.26-.361-1.26-.361l-3.602.031s-.27-.031-.465.09c-.195.119-.314.391-.314.391s-.572 1.529-1.336 2.82c-1.623 2.729-2.268 2.879-2.523 2.699-.604-.391-.449-1.58-.449-2.432 0-2.641.404-3.75-.781-4.035-.39-.091-.681-.15-1.685-.166-1.29-.014-2.378.01-2.995.311-.405.203-.72.652-.539.675.24.03.779.146 1.064.537.375.506.359 1.636.359 1.636s.211 3.116-.494 3.503c-.495.262-1.155-.28-2.595-2.756-.735-1.26-1.291-2.67-1.291-2.67s-.105-.256-.299-.406c-.227-.165-.557-.225-.557-.225l-3.435.03s-.51.016-.689.24c-.166.195-.016.615-.016.615s2.686 6.287 5.732 9.453c2.79 2.902 5.956 2.715 5.956 2.715l-.05-.055z"/></svg>');
    }
    &-youtube {
        background-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>YouTube icon</title><path fill="rgb(72,65,81)" d="M23.495 6.205a3.007 3.007 0 0 0-2.088-2.088c-1.87-.501-9.396-.501-9.396-.501s-7.507-.01-9.396.501A3.007 3.007 0 0 0 .527 6.205a31.247 31.247 0 0 0-.522 5.805 31.247 31.247 0 0 0 .522 5.783 3.007 3.007 0 0 0 2.088 2.088c1.868.502 9.396.502 9.396.502s7.506 0 9.396-.502a3.007 3.007 0 0 0 2.088-2.088 31.247 31.247 0 0 0 .5-5.783 31.247 31.247 0 0 0-.5-5.805zM9.609 15.601V8.408l6.264 3.602z"/></svg>');
    }
    &-insta {
        background-image: url('data:image/svg+xml;utf8,<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Instagram icon</title><path fill="rgb(72,65,81)" d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/></svg>');
    }

    &-store {
        display: inline-block;
        width:24px;
        height:24px;
        margin-left:8px;
        margin-right:8px;
        background-position:0px 0px;
        background-size:24px 24px; 
        background-repeat: no-repeat;
    }

    &-android {
        background-image: url('data:image/svg+xml;utf8,<svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5.00006H12V4.00006H13V5.00006ZM8 5.00006H7V4.00006H8V5.00006ZM13.53 2.16006L14.84 0.850059C15.03 0.660059 15.03 0.340059 14.84 0.140059C14.64 -0.0499414 14.32 -0.0499414 14.13 0.140059L12.65 1.62006C11.85 1.23006 10.95 1.00006 10 1.00006C9.04 1.00006 8.14 1.23006 7.34 1.63006L5.85 0.140059C5.66 -0.0499414 5.34 -0.0499414 5.15 0.140059C4.95 0.340059 4.95 0.660059 5.15 0.850059L6.46 2.16006C4.97 3.26006 4 5.00006 4 7.00006H16C16 5.00006 15 3.25006 13.53 2.16006ZM18.5 8.00006C18.1022 8.00006 17.7206 8.15809 17.4393 8.4394C17.158 8.7207 17 9.10223 17 9.50006V16.5001C17 16.8979 17.158 17.2794 17.4393 17.5607C17.7206 17.842 18.1022 18.0001 18.5 18.0001C18.8978 18.0001 19.2794 17.842 19.5607 17.5607C19.842 17.2794 20 16.8979 20 16.5001V9.50006C20 9.10223 19.842 8.7207 19.5607 8.4394C19.2794 8.15809 18.8978 8.00006 18.5 8.00006ZM1.5 8.00006C1.10218 8.00006 0.720644 8.15809 0.43934 8.4394C0.158035 8.7207 0 9.10223 0 9.50006V16.5001C0 16.8979 0.158035 17.2794 0.43934 17.5607C0.720644 17.842 1.10218 18.0001 1.5 18.0001C1.89782 18.0001 2.27936 17.842 2.56066 17.5607C2.84196 17.2794 3 16.8979 3 16.5001V9.50006C3 9.10223 2.84196 8.7207 2.56066 8.4394C2.27936 8.15809 1.89782 8.00006 1.5 8.00006ZM4 18.0001C4 18.2653 4.10536 18.5196 4.29289 18.7072C4.48043 18.8947 4.73478 19.0001 5 19.0001H6V22.5001C6 22.8979 6.15804 23.2794 6.43934 23.5607C6.72064 23.842 7.10218 24.0001 7.5 24.0001C7.89782 24.0001 8.27936 23.842 8.56066 23.5607C8.84196 23.2794 9 22.8979 9 22.5001V19.0001H11V22.5001C11 22.8979 11.158 23.2794 11.4393 23.5607C11.7206 23.842 12.1022 24.0001 12.5 24.0001C12.8978 24.0001 13.2794 23.842 13.5607 23.5607C13.842 23.2794 14 22.8979 14 22.5001V19.0001H15C15.2652 19.0001 15.5196 18.8947 15.7071 18.7072C15.8946 18.5196 16 18.2653 16 18.0001V8.00006H4V18.0001Z" fill="rgb(238,28,37)"/></svg>');        
    }

    &-apple {
        background-image: url('data:image/svg+xml;utf8,<svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.46 17.5C14.63 18.74 13.75 19.95 12.41 19.97C11.07 20 10.64 19.18 9.11997 19.18C7.58997 19.18 7.11997 19.95 5.84997 20C4.53997 20.05 3.54997 18.68 2.70997 17.47C0.99997 15 -0.31003 10.45 1.44997 7.39C2.31997 5.87 3.87997 4.91 5.56997 4.88C6.84997 4.86 8.06997 5.75 8.85997 5.75C9.63997 5.75 11.12 4.68 12.67 4.84C13.32 4.87 15.14 5.1 16.31 6.82C16.22 6.88 14.14 8.1 14.16 10.63C14.19 13.65 16.81 14.66 16.84 14.67C16.81 14.74 16.42 16.11 15.46 17.5ZM9.74997 1.5C10.48 0.67 11.69 0.04 12.69 0C12.82 1.17 12.35 2.35 11.65 3.19C10.96 4.04 9.81997 4.7 8.69997 4.61C8.54997 3.46 9.10997 2.26 9.74997 1.5Z" fill="rgb(238,28,37)"/></svg>');        
    }

    &-panel {
        display: inline-block;
        width:24px;
        height:24px;
        margin-right:24px;
        background-position:100% 100%;
        background-size:20px 20px; 
        background-repeat: no-repeat;
    }
 
    &-webcam {
        background-image: url('data:image/svg+xml;utf8,<svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9583 17.5417C16.8333 15.9583 18.75 12.875 18.75 9.375C18.75 4.20833 14.5417 0 9.375 0C4.20833 0 0 4.20833 0 9.375C0 12.9583 2.04167 16.125 5.04167 17.6667L3.375 20.4167H1.25V22.5H17.9167V20.4167H15.7083L13.9583 17.5417ZM2 9.375C2 5.33333 5.29167 2 9.375 2C13.4167 2 16.75 5.29167 16.75 9.375C16.75 13.4167 13.4583 16.75 9.375 16.75C5.33333 16.75 2 13.4167 2 9.375ZM5.79167 20.4167L7 18.4583C7.75 18.6667 8.54167 18.75 9.375 18.75C10.2917 18.75 11.1667 18.625 12 18.375L13.25 20.4167H5.79167ZM13.3333 9.375C13.3333 7.20833 11.5417 5.41667 9.375 5.41667C7.20833 5.41667 5.41667 7.20833 5.41667 9.375C5.41667 11.5417 7.20833 13.3333 9.375 13.3333C11.5417 13.3333 13.3333 11.5417 13.3333 9.375ZM7.41667 9.375C7.41667 8.29167 8.29167 7.41667 9.375 7.41667C10.4583 7.41667 11.3333 8.29167 11.3333 9.375C11.3333 10.4583 10.4583 11.3333 9.375 11.3333C8.29167 11.3333 7.41667 10.4583 7.41667 9.375Z" fill="rgb(72,65,81)"/></svg>');        
    }
    &-map {
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.125 17.875L11.9583 18.9167L12.7917 17.875C12.7917 17.875 14.9167 15.2083 15.7083 14.125C17.2917 12.0833 18.8333 9.83333 18.8333 6.83333C18.8333 3.08333 15.75 0 11.9583 0C8.16667 0 5.08333 3.08333 5.08333 6.83333C5.08333 9.83333 6.625 12.0833 8.20833 14.125C9.04167 15.2083 11.125 17.875 11.125 17.875ZM11.9583 2.08333C14.5833 2.08333 16.75 4.20833 16.75 6.83333C16.75 8.95833 15.75 10.625 14.0833 12.8333C13.5833 13.4583 12.6667 14.6667 11.9583 15.5417C11.2917 14.6667 10.3333 13.4583 9.83333 12.8333C8.125 10.625 7.16667 8.91667 7.16667 6.83333C7.16667 4.20833 9.29167 2.08333 11.9583 2.08333ZM11.9583 8.75C13 8.75 13.8333 7.91667 13.8333 6.875C13.8333 5.83333 13 5 11.9583 5C10.9167 5 10.0833 5.83333 10.0833 6.875C10.0833 7.91667 10.9167 8.75 11.9583 8.75ZM20.25 13.75H18.0417C17.7083 14.25 17.375 14.7083 17 15.1667C16.875 15.3333 16.6667 15.5833 16.4583 15.8333H18.7917L20.8333 20.8333H3.08333L5.08333 15.8333H7.41667C7.20833 15.5833 7.04167 15.3333 6.875 15.125C6.54167 14.6667 6.16667 14.2083 5.83333 13.75H3.66667L0 22.9167H23.9167L20.25 13.75Z" fill="rgb(72,65,81)"/></svg>');        
    }
    &-elevator {
        background-image: url('data:image/svg+xml;utf8,<svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.95833 3.75C9.75 3.75 10.4167 3.08333 10.4167 2.29167C10.4167 1.5 9.75 0.833333 8.95833 0.833333C8.16667 0.833333 7.5 1.5 7.5 2.29167C7.5 3.08333 8.16667 3.75 8.95833 3.75ZM13.9583 2.91667C14.75 2.91667 15.4167 2.25 15.4167 1.45833C15.4167 0.666667 14.75 0 13.9583 0C13.1667 0 12.5 0.666667 12.5 1.45833C12.5 2.25 13.1667 2.91667 13.9583 2.91667ZM22.9167 3.45833V1.16667C15 4.83333 8.33333 6 0 5.08333V7.16667C3.75 7.54167 7.08333 7.58333 10.4167 7.16667V12.5H6.04167C4.08333 12.5 2.5 14.0833 2.5 16.0417V22.7083C2.5 24.6667 4.08333 26.25 6.04167 26.25H16.875C18.8333 26.25 20.4167 24.6667 20.4167 22.7083V16.0417C20.4167 14.0833 18.8333 12.5 16.875 12.5H12.5V6.83333C15.8333 6.16667 19.1667 5.08333 22.9167 3.45833ZM16.875 14.5833C17.6667 14.5833 18.3333 15.2083 18.3333 16.0417V18.3333H6.25V20.4167H18.3333V22.7083C18.3333 23.5 17.6667 24.1667 16.875 24.1667H6.04167C5.25 24.1667 4.58333 23.5 4.58333 22.7083V16.0417C4.58333 15.25 5.20833 14.5833 6.04167 14.5833H16.875Z" fill="rgb(72,65,81)"/></svg>');        
    }

    &-book-form {
        display: inline-block;
        width:16px;
        height:16px;
        vertical-align: middle;
        margin-right:6px;
        background-position:50% 50%;
        background-size:16px 16px; 
        background-repeat: no-repeat;
    }

    &-house {
        background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><g id="Bounding_Box"><rect fill="none" width="24" height="24"/></g><g id="Master">	<path d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z" fill="rgb(72,65,81)"/></g></svg>');        
    }
    &-card {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path fill="rgb(72,65,81)" d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/></svg>');        
    }
    &-bus {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path fill="rgb(72,65,81)" d="M4 16c0 .88.39 1.67 1 2.22V20c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h8v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1.78c.61-.55 1-1.34 1-2.22V6c0-3.5-3.58-4-8-4s-8 .5-8 4v10zm3.5 1c-.83 0-1.5-.67-1.5-1.5S6.67 14 7.5 14s1.5.67 1.5 1.5S8.33 17 7.5 17zm9 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm1.5-6H6V6h12v5z"/></svg>');        
    }
    &-helmet {
        background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"	 height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><g id="Bounding_Box"><rect fill="none" width="24" height="24"/></g><g id="Master">	<g>		<path  fill="rgb(72,65,81)" d="M12,11.39c0-0.65-0.39-1.23-0.98-1.48L5.44,7.55c-1.48,1.68-2.32,3.7-2.8,5.45h7.75C11.28,13,12,12.28,12,11.39z"/>		<path fill="rgb(72,65,81)" d="M21.96,11.22c-0.41-4.41-4.56-7.49-8.98-7.2c-2.51,0.16-4.44,0.94-5.93,2.04l4.74,2.01c1.33,0.57,2.2,1.87,2.2,3.32			c0,1.99-1.62,3.61-3.61,3.61H2.21C2,16.31,2,17.2,2,17.2V18c0,1.1,0.9,2,2,2h10C18.67,20,22.41,15.99,21.96,11.22z"/>	</g></g></svg>');        
    }
    &-school {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path fill="rgb(72,65,81)" d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>');        
    }



}