/* colors */
$black : #000;
$white: #FFFFFF ;
$bg-grey: #e8e8e8;
$submenu-separator-grey: #bcbfc4;
$dark-grey: #333;
$mid-grey : #c0c4cd;
$mid-grey1 : #91a6b5;
$light-grey : #d9dce1;
$brand-blue: #00a0dc;
$brand-blue-dark: #1375bc;
$brand-blue-light: #44c9f6;
$brand-blue-mid: #44c8f5;

$brand-blue-pale: #a1e3fb;
$brand-blue-pale2: #8BCEE6;

$winter-btn-hover: #BEE6F4;
$winter-pale: #daf4fd;
$winter-text: #00a0dc;
$text-grey: #7e7e7e;
$height540-bg: #ecf4e1;
$height960-bg: #d6e4e9;
$height1460-bg: #ebe5d6;
$height2200-bg: #e9d8d2;

$height540-color: #8dc63f;
$height960-color: #6acef3;
$height1460-color: #fbac48;
$height2200-color: #fb8d62;

$blue-overlay: #24324A;
$blue-overlay-rgb: "36,50,74";
$red: #ef4130;
$error: #d61717;
$yellow : #ffba00;
$xs: 768px;
$sm: 992px;
$md: 1199px;
$xxs: 361px;


/* colors  END*/

/* mixin properties */
@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}
@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin box-shadow($value, $ie) {
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	box-shadow: $value;
	-ms-filter: $ie;
	/* filter: #{$ie}; */
}
@mixin transform($value) {
	transform: $value;
	-moz-transform:$value;  
    -webkit-transform:$value;  
    -o-transform:$value;  
    -ms-transform:$value; 
}

@mixin blur($value) {
	filter: blur($value); 
	-webkit-filter: blur($value); 
	-moz-filter: blur($value); 
	-o-filter: blur($value); 
	-ms-filter: blur($value); 
}

@mixin flex($hor, $vert) {
	display:flex;
	align-items: $vert;
    justify-content: $hor;
}

@mixin user-select($value) {
  -webkit-user-select: $value;  
  -moz-user-select: $value;     
  -ms-user-select: $value;      
  user-select: $value;          
}

/* mixin END */

@each $index in 1,2,3,5,10,100,1000 {
  .z-index-#{$index} {
    z-index: $index;
  }
}
