.menu {
    @media screen and (min-width:960px) {
        font-size:16px;
        font-family: 'Panton', 'Sans-serif';
        font-weight:$semi-bold;
        .menu-main {
                height:100%;	
            &__root {
                height:100%;	
            }

            &__container {
                width:100%;
                max-width:1200px;
                margin:0 auto;
            }
            
            a {
                text-decoration:none;
            }
            &__item--level1 {
                display:inline-block;
                height:100%;
                box-sizing:border-box;



                &>.menu-main__submenu {
                    transition:0.5s;
                    position:absolute;
                    box-sizing:content-box;
                    padding-top: 38px;
                    padding-bottom: 66px;
                    background:white;
                    
                    left:0;
                    width:100vw;
                    opacity:0;
                    top:-999px;
                    text-align:left;
                    z-index:-5;
                    &:after {
                        position: absolute;
                        content: '';
                        left:0;
                        bottom:0;
                        display: block;
                        width:0%;
                        height:8px;
                        background-color: $kp-red;
                    }
                }
                &:hover .menu-main__header--level1, &:hover .menu-main__link--level1, {
                    color: $kp-red;
                    transition:0.3s;
                    border-bottom:2px solid $kp-red;	
                    z-index:$menu-level;
                    position:relative;
                }
                
                &:hover>.menu-main__submenu {
                    transition:0.5s;
                    top:auto;
                    margin-top:-2px;
                    opacity:1;
                    display:block;
                    z-index:$menu-level - 4;
                    &:after {
                        transition-property: width;
                        transition-delay: 0.3s;
                        transition-duration: 1.0s;
                        transition-timing-function: linear;
                        width:100%;
                    }
                    
                }
            }
            &__item--level2 {
                width:calc(100% / 6);
                display:table-cell;
                vertical-align:top;
                text-align:left;
                top:0;
                padding-left:20px;
                padding-right:20px;
                font-size:14px;
                

            }
            &__item--level3 {
                margin:1rem 0;
                
                color:$kp-text-dark-grey;
            }

            &__filler--level1 {
                width:15%;
                height:100px;
                float:left;
            }
            &__filler--level2 {
                    display:none;
            }

            &__item-offer {
                height:100%;
                a {
                    color:$kp-text-dark-grey;
                    text-align:left;
                    display:block;
                    font-size:14px;
                } 
                img {
                    display:block;
                    margin-bottom:16px;
                }
                &:hover a {
                    color:$kp-red;
                }
            }
            

            &__header--level2 {
                color: $kp-text-dark-grey;
                font-size:14px;
                display: block;
                padding-bottom:18px;
                
            }
            &__header--level1, &__link--level1 {
                color:$kp-text-dark-grey;
                display:flex;
                align-items:     center;
                justify-content: center;
                transition:0.5s;
                position:relative;
                height:100%;
                font-size:true;
                z-index:2;
                padding: 0 20px 20px;
                box-sizing:border-box;
                border-bottom:2px solid rgba(0,0,0,0);	
                transition:0.3s;
                &:visited, &:active {
                    color: $kp-text-dark-grey;
                }
            }

            

            &__link--level3 {
                font-size:14px;
                color:#7f7688;
                transition:0.3s;
                &:hover {
                    transition:0.3s;
                    color:$kp-red;
                }
            }
        }
    }

    @media screen and (max-width:959px) {
        &{
            font-size:16px;
            font-family: 'Panton', 'Sans-serif';
            font-weight:$semi-bold; 
            padding:8px 40px 0px 24px;
            text-align:left;
            margin-bottom:40px;
            &-main {
                &__header--level1, &__link--level1 {
                    font-size:16px;
                    line-height:24px;
                    color:$kp-text-dark-grey;
                    font-weight: $bold;
                    margin-top:16px;
                    margin-bottom:16px;
                    display:block;
                    text-decoration:none;
                }
                &__header--level2 {
                    font-size:14px;
                    line-height:20px;
                    color:#929292;
                    font-weight:$semi-bold; 
                    margin-top:16px;
                    margin-bottom:16px;
                    margin-left:8px;
                    display:block;
                    text-decoration:none;
                }
                &__link--level3 {
                    font-size:12px;
                    line-height:18px;
                    color:#EE1C25;
                    font-weight:$semi-bold; 
                    margin-top:16px;
                    margin-bottom:16px;
                    margin-left:16px;
                    display:block;
                    text-decoration:none;
                }
                &__item-offer {
                    display:none;
                }

            }
        }
       

    }
}        

		 