.kp-offer {
    @media screen and (min-width:960px) {
        position:relative;
        overflow:hidden;
        height:100%;
        width: 100%;
        font-family: 'Panton', sans-serif;
        border-radius: 8px;
        &__bg{
            z-index:0;
            position: absolute;
            border-radius: inherit;
            background-size:cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
            transition:transform 0.5s;
            transform:none;
        }
        &:hover &__bg {
            transition:transform 0.5s;
            transform: scale(1.2);   
        }
        &__link {
            z-index:1;
            text-decoration: none;
            color:#FFF;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            border-radius: inherit;
            width:100%;
            height:100%;
            padding:32px;
            box-sizing: border-box;
            background-color:transparentize(  $kp-text-dark-grey, 0.6);
        }
        &__label{
            position: absolute;
            top:32px;
            left:32px;
            display: inline-block;
            max-width: calc(100% - 96px - 64px - 8px);
            overflow-wrap: break-word;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #ee1c25;
            font-size: 16px;
            line-height: 24px;
            font-weight: $regular;
            color:#FFF;
            padding:12px 16px;
            &--hotels {
                background-color: #95c11f;
            }
            &--mountain {
                background-color:#4c2973;
            }
            &--events {
                background-color:#c4025f;
            }


        }

        
        &__timer {
            position: absolute;
            top:32px;
            right:32px;
            left:auto;
            display: inline-block;
            width:96px;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: transparentize( #000000, 0.5);
            font-size: 16px;
            font-weight: $regular;
            line-height: 24px;
            padding:12px 16px;
            color:#FFF;
        }

        &__price {
            color:#FFF;
            font-size: 24px;
            font-weight: $bold;
            line-height: 32px;
            span {
                font-size: 48px;
            }
        }

        &__title {
            color:#FFF;
            font-size: 24px;
            font-weight: $extra-bold;
            line-height: 32px;
            max-width: 50%;
        }
    }

    @media screen and (max-width:959px) {
        position:relative;
        overflow:hidden;
        height:100%;
        width: 100%;
        font-family: 'Panton', sans-serif;
        border-radius: inherit;
        &__bg{
            z-index:0;
            position: absolute;
            border-radius: inherit;
            background-size:cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
            transition:transform 0.5s;
            transform:none;
        }
        &:hover &__bg {
            transition:transform 0.5s;
            transform: scale(1.2);   
        }
        &__link {
            z-index:1;
            text-decoration: none;
            color:#FFF;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            border-radius: inherit;
            width:100%;
            height:100%;
            padding:16px 16px 48px 48px;
            box-sizing: border-box;
            background-color:transparentize(  $kp-text-dark-grey, 0.6);
        }
        &--of-the-day &__link {
            padding:16px 16px 48px 16px;
        }
        &__label{
            position: absolute;
            top:16px;
            left:16px;
            display: inline-block;
            max-width: calc(100% - 84px - 40px);
            overflow-wrap: break-word;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #ee1c25;
            font-size: 14px;
            line-height: 24px;
            font-weight: $regular;
            color:#FFF;
            padding:12px 16px;
            &--hotels {
                background-color: #95c11f;
            }
            &--mountain {
                background-color:#4c2973;
            }
            &--events {
                background-color:#c4025f;
            }


        }

        
        &__timer {
            position: absolute;
            top:16px;
            right:16px;
            left:auto;
            display: inline-block;
            width:84px;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: transparentize( #000000, 0.5);
            font-size: 14px;
            font-weight: $regular;
            line-height: 24px;
            padding:12px 16px;
            color:#FFF;
        }

        &__price {
            color:#FFF;
            font-size: 24px;
            font-weight: $bold;
            line-height: 40px;
            span {
                font-size: 32px;
            }
        }

        &__title {
            color:#FFF;
            font-size: 16px;
            font-weight: $extra-bold;
            line-height: 24px;
            max-width: 50%;
        }
    }

}