/**
 * @package   PickMeUp
 * @author    Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @author    Stefan Petre <www.eyecon.ro>
 * @copyright Copyright (c) 2013-2017, Nazar Mokrynskyi
 * @copyright Copyright (c) 2008-2009, Stefan Petre
 * @license   MIT License, see license.txt
 */


$border-radius                    : 8px !default;
$background                       : #FFF !default;
$color                            : $kp-text-dark-grey !default;
$background-hover                 : transparentize($kp-teal, .7) !default;
$color-hover                      : $kp-teal !default;
$btn-color						  : transparentize(#01bac6, .7) !default;
$nav-color                        : $color !default;
$nav-color-hover                  : $color-hover !default;
$not-in-month                     : #929292 !default;
$not-in-month-hover               : #999 !default;
$disabled                         : #999 !default;
$selected                         : #FFF !default;
$selected-background              : $kp-teal !default;
$not-in-month-selected-background : #17384d !default;
$day-of-week                      : #929292 !default;
$today-background                 : transparentize($kp-teal, .7) !default;
$today-color                      : #FFF !default;
.pickmeup {
	background      : $background;
	border-radius   : $border-radius;
	-moz-box-sizing : content-box;
	box-sizing      : content-box;
	display         : inline-block;
	position        : absolute;
	touch-action    : manipulation;
    z-index:10;
    box-shadow:0 2px 10px rgba(0,0,0,.25);

	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}

	&.pmu-flat {
		position : relative;
	}

	&.pmu-hidden {
		display : none;
	}

	.pmu-instance {

		display    : inline-block;
		height     : 384px;
		padding    : 24px;
		text-align : center;
		width      : 352px;

		//border: 1px solid $light-grey;

		@media (max-width:959px) {
			width:90vw;
			padding: 24px;
		}

		.pmu-button {
			color           : $color;
			cursor          : pointer;
			outline         : none;
			text-decoration : none;
			
		}



		.pmu-button:hover {
			background-color : $background-hover;
			color      : $color-hover;
		}

		

		

		.pmu-selected {
			background-color : $selected-background;
			color      : $selected;
		}

		.pmu-not-in-month.pmu-selected {
			background : $not-in-month-selected-background;
		}

		nav {
			color       : $color ;
			background  : white;
			display     : -ms-flexbox;
			display     : -webkit-flex;
			display     : flex;
			line-height : 2em;

			font-weight:bold;
			*:first-child :hover {
				color : $nav-color-hover;
			}

			.pmu-prev,
			.pmu-next {
				//display : none;
				height  : 32px;
                width   : 32px;
                background-position: 50% 50%;
                background-repeat:no-repeat;
                background-size: 16px 16px
				//@extend .fa;
            }
            .pmu-prev {
                background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7912 7.00496H3.62124L8.50124 2.12496C8.89124 1.73496 8.89124 1.09496 8.50124 0.704961C8.31441 0.517709 8.06076 0.412476 7.79624 0.412476C7.53172 0.412476 7.27807 0.517709 7.09124 0.704961L0.50124 7.29496C0.11124 7.68496 0.11124 8.31496 0.50124 8.70496L7.09124 15.295C7.48124 15.685 8.11124 15.685 8.50124 15.295C8.89124 14.905 8.89124 14.275 8.50124 13.885L3.62124 9.00496H14.7912C15.3412 9.00496 15.7912 8.55496 15.7912 8.00496C15.7912 7.45496 15.3412 7.00496 14.7912 7.00496Z" fill="rgb(1,186,198)"/></svg>');
            }
            .pmu-next {
                background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.20874 8.99996H12.3787L7.49874 13.88C7.10874 14.27 7.10874 14.91 7.49874 15.3C7.88874 15.69 8.51874 15.69 8.90874 15.3L15.4987 8.70996C15.8887 8.31996 15.8887 7.68996 15.4987 7.29996L8.91874 0.699956C8.73191 0.512704 8.47826 0.407471 8.21374 0.407471C7.94922 0.407471 7.69557 0.512704 7.50874 0.699956C7.11874 1.08996 7.11874 1.71996 7.50874 2.10996L12.3787 6.99996H1.20874C0.65874 6.99996 0.20874 7.44996 0.20874 7.99996C0.20874 8.54996 0.65874 8.99996 1.20874 8.99996Z" fill="rgb(1,186,198)"/></svg>');
            }
			.pmu-month {
				width : 14em;
				@media (max-width:767px) {
					width: 80vw !important;
				}
			}
			.pmu-button {
				color: $color;
				/* &:hover {
					color: $black;
				} */
			}
			.pmu-disabled,
			.pmu-disabled:hover {
				color  : $disabled;
				cursor : default;
			}
		}

		.pmu-years,
		.pmu-months {
			* {
				display     : inline-block;
				line-height : 3.6em;
				width       : 3.5em;
			}
		}

		.pmu-day-of-week {
			
			font-size:0.8rem;
			color  : $day-of-week;
			cursor : default;
			text-transform:none;
			font-weight:normal;

		}

		.pmu-day-of-week,
		.pmu-days {
			* {
				display     : inline-block;
				//line-height : 1.5em;
				color:$color;
                width       : 40px;
                height: 40px;
                padding:13px 5px;
                text-align:center;
                font-size: 14px;
                font-weight: $semi-bold;
                border-radius: $border-radius / 2;
				@media (max-width:767px) {
					
					
				}
			}
			.pmu-disabled,
			.pmu-disabled:hover {
				color  : $disabled;
				cursor : default;
			}
		}

		.pmu-day-of-week * {
			line-height : 1.8em;
			font-size: 0.8rem;
		}
		.pmu-not-in-month {
			color : $not-in-month ;
		}

		.pmu-today {
			background : $today-background;
			color      : $kp-teal;
		}
	}

	.pmu-instance:first-child .pmu-prev,
	.pmu-instance:last-child .pmu-next {
		display : block;
	}

	.pmu-instance:first-child,
	.pmu-instance:last-child {
		.pmu-month {
			width : 19em;
		}
	}

	.pmu-instance:first-child:last-child .pmu-month {
		width : 21em;
	}

	&:not(.pmu-view-days) .pmu-days,
	&:not(.pmu-view-days) .pmu-day-of-week,
	&:not(.pmu-view-months) .pmu-months,
	&:not(.pmu-view-years) .pmu-years {
		display : none;
	}
	.pmu-goto-today {
		position:absolute;
		top:auto;
		left:0;
		bottom:0;
		width:100%;
		height:auto;
		& > div {
			width:100%;
			padding:8px;
			font-size:16px;
            cursor:pointer;
            font-weight: $semi-bold;
			background:$btn-color;
			color: $kp-teal;
            text-align:center;
            transition: 0.3s;
            border-radius: 0 0 $border-radius/2  $border-radius/2;
			&:hover {
                transition: 0.3s;
                background-color:$kp-teal;
                color: #FFF;
            }
		}
	}
}
