.kp-popup {
    @media screen and (min-width:960px) {
        z-index:$popup-level;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background:transparentize($kp-text-dark-grey, 0.2);
        
        &__balloon {
            z-index:$popup-level + 1;
            position:relative;
            margin:162px auto;
            width:100%;
            max-width:1160px;
            box-sizing:border-box;
            padding:112px 90px;
            background:#FFF;
            border-radius:8px;
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:flex-end;
            &:before {
                position:absolute;
                left:64px;
                width:1px;
                height:32px;
                display:block;
                box-sizing:border-box;
                top:-32px;
                content:'';
                border-left:32px solid #FFF;
                border-bottom:32px solid #FFF;
                border-right:32px solid transparent;
                border-top:32px solid transparent;  
                transition:0.3s;
            }
            &:after {
                display: block;
                position: absolute;
                right:32px;
                top:24px;
                content:'✕';
                font-size:24px;
                color:#929292;
                font-weight: $regular;

            }
        }

        &--fixed &__balloon:before {
            transition:0.4s;
            top:-90px;      
            border-left:  32px solid #FFF;
            border-bottom:64px solid #FFF;
            border-right: 32px solid transparent;
            border-top:   64px solid transparent;  

        }

        &__separator {
            width:1px;
            height:218px;            
            background: linear-gradient(rgba(72,65,81,0) 0%, $kp-text-dark-grey 50%, rgba(72,65,81,0) 100%);
        }

        &__text {
            max-width:616px;
            font-size:20px;
            color:$kp-text-dark-grey;
            font-weight:$regular;
            line-height:32px;
            h1,h2,h3,h4,h5,h6 {
                font-size:48px;
                color:$kp-text-dark-grey;
                font-weight:$extra-bold;
                line-height:64px;
                margin-bottom:24px;               
            }
        }
        &__image {
            height:216px;
            width:auto;
        }
        p   {
            text-align:justify;
        }
        a {
            color:$kp-red;
        }
    }


    @media screen and (max-width:959px) {
        z-index:$popup-level;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background:transparentize($kp-text-dark-grey, 0.2);
        display: flex;
        align-items: center;
        
        &__balloon {
            z-index:$popup-level + 1;
            position:relative;
            margin: 0 8px;
            width:calc(100% - 16px);
            box-sizing:border-box;
            padding:16px;
            background:#FFF;
            border-radius:8px;
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:flex-start;
            &:after {
                display: block;
                position: absolute;
                right:16px;
                top:12px;
                content:'✕';
                font-size:16px;
                color:#929292;
                font-weight: $regular;

            }
           
        }
        &__separator {
            padding:8px;
            height:100px;
            width:1px;
            
        }

        &__text {

            font-size:12px;
            color:$kp-text-dark-grey;
            font-weight:$regular;
            line-height:16px;
            h1,h2,h3,h4,h5,h6 {
                font-size:16px;
                color:$kp-text-dark-grey;
                font-weight:$bold;
                line-height:24px;
                margin-bottom:24px;               
            }
        }
        &__image {
            height:56px;
            width:56px;
        }
        p   {
            text-align:justify;
        }
        a {
            color:$kp-red;
        }
    }
}

 