.scrollable {
    
    background-image:none;
    overflow-y: hidden;
    
	&__page{
		position:absolute;
		top:calc(50% - 1.5rem);
		transition:0.3s;
		padding:0.5rem 1.25rem;
		font-size: 12px;
		line-height: 2rem;
		color: #FFF;
		z-index:2;
		background:rgba(0,0,0,.5);
        cursor:pointer;
		&:hover {
			transition:0.3s;
			background:rgba(0,0,0,.75);
		}

		&-left {
			left:1px;
			&:after {
                
				content:'❬';
			}
		}
		&-right {
			right:1px;
			left:auto;
			&:after {
				content:'❭';
			}
		}

	}

	&__indicator {
		position:absolute;
		right: 2rem;
		z-index:4;
		bottom:2rem;
		&-item {
			border-radius:(100%);
			transition:(0.5s);
			width:0.5rem;
			height:0.5rem;
			margin-left:0.75rem;
			margin-right:0.75rem;
			background:white;
			display:inline-block;
		}
		@media (max-width:767px) {
			left:0;
			right:auto;
			width:100%;
			bottom:1rem;
			text-align:center;
		}
        &-item--active {
            transition:(0.5s);
            background:#44c8f5;
        }
	}
    
    
    
    &--hotels &__indicator-item--active{
        background:#95c11f;
    }

    &--mountain &__indicator-item--active{
        background:#4c2973;
    }

    &--events &__indicator-item--active{
        background:#c4025f;
    }
	

	
    @media screen and(min-width:960px) {
        &--events-home {
            &:before {
                position:absolute;
                width:10%;
                top:50%;
                left:calc(48px + 1%);
                height:1px;
                content:'';
                display: block;
                border-bottom:1px solid #01BAC6;

            }
            &:after {
                position:absolute;
                width:10%;
                top:50%;
                right:calc(48px + 1%);
                height:1px;
                content:'';
                display: block;
                border-bottom:1px solid #01BAC6;

            }
            .scrollable__page {
                position:absolute;
                top:calc(50% - 1.5rem);
                cursor: pointer;
                padding:0.5rem;
                font-size: 24px;
                transform: scaleY(0.5);
                color:#01BAC6;
                line-height: 2rem;
                z-index:2;
                background:none;

                 
                
            }
            
        }
        
        &--blog {
            .scrollable__page {
                position:absolute;
                top:calc(50% - 1.5rem);
                cursor: pointer;
                padding:0.5rem;
                font-size: 24px;
                transform: scaleY(0.5);
                color:#FFF;
                line-height: 2rem;
                z-index:2;
                background:none;
            }
            
        }
    }
	 
}