.special-event {
    @media screen and (min-width:960px) {
        &{
            margin:0 auto;
            max-width:1160px;
            height:500px;
            margin-top:48px;
            margin-bottom:48px;
            position:relative;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            
        }

        &__image {
            display:block;
            height:100%;
            width:100%;
            position:absolute;
            top:0;
            left:0;
            background-size:auto 100%;
            background-repeat:no-repeat;
            background-position:50% 50%;
            z-index:0;
            
        }

        &__title {
            display:block;
            position:relative;
            top:0;
            margin:0 auto;
            border:15px solid #FFF;
            padding:24px 48px;
            box-sizing:border-box;
            color:#FFF;
            font-family:'Panton', sans-serif;
            font-size:32px;
            line-height:32px;
            font-weight:$extra-bold;
            text-decoration:none;
            text-align:center;
            background-color:rgba(0,0,0,.25);
            text-shadow:0px 0px 13px rgba(36,50,74,0.7);
            backdrop-filter: blur(4px);
            span {
                font-size:24px;
            }
        }

    }

    @media screen and (max-width:959px) {
        &{
            margin:0 auto;
            width:100%;
            height:250px;
            margin-top:48px;
            margin-bottom:59px;
            position:relative;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            
        }

        &__image {
            display:block;
            height:100%;
            width:100%;
            position:absolute;
            top:0;
            left:0;
            background-size: contain;
            background-repeat:no-repeat;
            background-position:50% 50%;
            z-index:0;
            
        }

        &__title {
            display:block;
            position:relative;
            top:0;
            margin:0 auto;
            border:8px solid #FFF;
            padding:16px 24px;
            box-sizing:border-box;
            color:#FFF;
            font-family:'Panton', sans-serif;
            font-size:20px;
            line-height:24px;
            font-weight:$extra-bold;
            text-decoration:none;
            text-align:center;
            background-color:rgba(0,0,0,.25);
            text-shadow:0px 0px 13px rgba(36,50,74,0.7);
            backdrop-filter: blur(4px);
            span {
                font-size:12px;
            }
        }

    }
    
}