$kp-red:#e30613;
$kp-text-dark-grey:#484151;
$kp-text-light-grey:#a197ac;
$kp-teal: #01BAC6;

html,body {
    font-family: 'Panton', 'Sans-serif';
    font-size:16px;
    background: #DDD;
    z-index:$video-bg-level;
    position: relative;

}