/* font weight */
$regular: 400;
$medium: 500;
$semi-bold:600;
$bold:700;
$extra-bold:800;
$black:900;


/* z-levels */
$video-bg-level:-1;
$home-panel-level:1;
$menu-level:10;
$popup-level:6;

/* classes */ 
%clear, %clearfix {
	clear:both;
	&:after { 
	   content: "."; 
	   visibility: hidden; 
	   display: block; 
	   height: 0; 
	   clear: both;
	}
}

